[2019-02-13 11:24] bmullan91 opened #1 "SSR Support"
- `graphql-hooks-ssr` module
- Should support nested queries
- Should handle ssr errors
- Should pre-populate cache to be used for rehydration on the client

[2019-02-13 11:24] bmullan91 opened #2 "Replace graphql-request"
- Better error handling support
- Document how to pass in fetch / polyfill on node

[2019-02-13 11:24] bmullan91 opened #3 "Setup testing"
- basic `react-testing-library` + `jest`
- CircleCI + badge
- Stub out other tests with empty `it('should...')`
- Coverage + badge

[2019-02-14 11:41] #3 closed

[2019-02-15 12:22] #1 closed

[2019-02-15 12:29] bmullan91 commented on #2
Fixed in #5

[2019-02-15 12:29] #2 closed

[2019-02-15 13:57] jackdclark opened #9 "Add unit tests"
Add unit test coverage for all files, there are currently none

[code]

[2019-02-15 13:59] jackdclark opened #10 "API Documentation"
Placeholder issue for adding and improving documentation

[2019-02-15 13:59] jackdclark opened #11 "Create separate bundles"
- umd
- cjs
- es
- mjs?

[2019-02-15 14:26] jackdclark opened #12 "Next.js example app"
Implement an example app that uses this library, both SSR and in the browser with [Next.js](https://nextjs.org/)

[2019-02-15 15:39] jackdclark opened #13 "Create-react-app example"

[2019-02-18 12:18] jackdclark opened #17 "Add a CONTRIBUTING.md"

[2019-02-18 12:18] jackdclark opened #18 "Add a CODE_OF_CONDUCT.md"

[2019-02-18 13:46] #17 closed

[2019-02-18 13:46] #18 closed

[2019-02-18 13:50] bmullan91 commented on #12
This example app should live here: https://github.com/zeit/next.js/tree/canary/examples

[2019-02-18 14:10] jackdclark opened #20 "Add an ISSUE_TEMPLATE.md"
See https://help.github.com/articles/manually-creating-a-single-issue-template-for-your-repository/

[2019-02-18 16:24] #10 closed

[2019-02-18 16:44] bmullan91 opened #21 "useManualQuery does not use the cache"
`useManualQuery` should be like a normal query and use the cache (if available). Currently the user would have to pass `useCache=true` for it to work as expected.

[code]

[2019-02-19 13:16] #21 closed

[2019-02-19 13:23] bmullan91 opened #26 "Docs: Authentication Guide"
- Typical use case of setting a JWT via `client.setHeader()`
- Include a login component that will call a login function which returns the token (could be graphql query)
- Demonstration accessing the client via `ClientContext`
- Calling `setHeader` with JWT
- Refetching queries after login

[2019-02-19 13:24] bmullan91 opened #27 "Docs: Fragments Guide"
Demonstration how you can use & combine GraphQL fragments via template strings

[2019-02-19 13:28] bmullan91 opened #28 "Docs: Migrating from Apollo Guide"
- `ApolloClient` ➡️`GraphQLClient`
- `<Query />` ➡️ `useQuery`
- `<Mutation />` ➡️`useMutation`
- `client.query` ➡️`useManualQuery`
- SSR `getDataFromTree` ➡️`getIntialState`

[2019-02-19 16:10] Joezo opened #29 "Add pagination helper"
Whilst implementing an example app in next.js it occurred that pagination is pretty complicated and could be simplified by `useQuery` offering a method to help load more data and update the existing data without having to refetch everything each time.
Apollo does this with a `fetchMore` method https://www.apollographql.com/docs/react/features/pagination.html#fetch-more

[2019-02-19 16:52] jackdclark opened #31 "Test fetchData from useClientRequest"
See https://github.com/nearform/graphql-hooks/blob/9a09e6ca154a03f44855c4684d51ad96988ecf4b/test/unit/useClientRequest.test.js#L76-L94

[2019-02-20 10:38] Joezo commented on #12
I have WIP example app over here https://github.com/Joezo/next.js/tree/with-graphql-hooks-example/examples/with-graphql-hooks

It's raised two things so far. Adjusting the variables passed into a query doesn't trigger a new request.

It might be nice to add something similar to Apollos `fetchMore` for pagination. The current solution in the example app is to just increase the size of the results c

[2019-02-20 10:41] Joezo opened #35 "Adjusting variables passed to useQuery doesn't trigger request"
Whilst building the example next.js app i've run into a problem with the `useQuery` hook not triggering a request after the initial one. Even if the variables passed to it differ.

Initial investigation suggests this if statement is unnecessary and causing the issue. https://github.com/nearform/graphql-hooks/blob/master/src/useQuery.js#L28

Hoping to get a failing test in place soon for this.

[2019-02-20 11:01] #31 closed

[2019-02-20 11:29] jackdclark commented on #35
I've added failing tests for this in #36

[2019-02-20 11:59] Joezo commented on #35
Cool, nice one. We should be able to close this and open an issue for the outstanding issue with `useClientRequest` returning data for different query/vars. Does that summarise that issue @jackdclark / @bmullan91 ?

[2019-02-20 12:01] jackdclark commented on #35
Sounds good @Joezo, are you okay to raise the separate issue?

#36 Will close this once merged

[2019-02-20 12:04] #35 closed

[2019-02-20 12:07] Joezo opened #37 "useClientRequest returns state for previous request"
This cropped up when testing out `useQuery` with different variables after the initial request. It looks like `useClientRequest` returns data the second time it's called, regardless of the query/options that were passed in.

[2019-02-20 12:08] Joezo commented on #35
I've raised that here https://github.com/nearform/graphql-hooks/issues/37

[2019-02-20 12:08] jackdclark commented on #9
We have good coverage for all files in the library now & [Coveralls](https://coveralls.io/github/nearform/graphql-hooks?branch=master) reporting in CI to make sure this doesn't decrease. Closing this.

[code]

[2019-02-20 12:08] #9 closed

[2019-02-20 13:39] bmullan91 commented on #37
Yep I discovered this recently too. In a normal component we could use `getDerivedStateFromProps` to ensure the state is correct. In hooks things are a little different, the `initialState` argument to `useReducer(reducer, initialState)`is only used for the first render.

Here's my proposed solution:

[code]

[2019-02-20 13:48] bmullan91 commented on #37
This might also be related: https://github.com/facebook/react/issues/14849

[2019-02-20 14:09] jackdclark opened #38 "Acknowledge contributors"
All contributors should be acknowledged

- [ ] In package.json
- [ ] In the README (something like https://github.com/all-contributors/all-contributors)

[2019-02-21 09:23] Joezo opened #40 "Consider using lerna"
It might be worth using `lerna` for this project. Given that we have this repo, `graphql-hooks-ssr` and `graphql-hooks-memcache` already. I expect that to grow in future so may be worth setting up a monorepo soon.

[2019-02-21 09:46] simoneb commented on #40
My personal experiences with lerna are not very good. On the other hand I hear other people using it with success. The main troubles I've come across when using it is that it easily messes up packages, and in many cases something that would have usually required a single `npm i` in a nested package required instead various attempts of combinations of `npm i` or bootstrapping in the root folder the

[2019-02-21 11:33] jackdclark commented on #29
I currently have two draft implementations for this:

- #42 A `fetchMore` function, similar to apollo
- #41 A more declarative version where the consumer chooses how the result merges with the previous result

Both use the same result updater implementation.

@bmullan91 @Joezo interested in your thoughts on which is a better API?

[2019-02-21 12:14] jackdclark commented on #29
After speaking to @Joezo, a third approach (See https://github.com/nearform/graphql-hooks/pull/44) is a merge of the two approaches #42 & #41.

[2019-02-21 17:14] jackdclark commented on #38
Duplicate of #43

[2019-02-21 17:14] #38 closed

[2019-02-21 18:45] gaearon commented on #37
React bug is fixed in 16.8.3.

[2019-02-21 22:47] bmullan91 opened #48 "Consider using semantic-release"
## Notes
- commits will need to follow a certain format `fix`, `feat` or `BREAKING CHANGE`
- semantic-release figures out what the new version should be
- generates release notes
- generates git tag
- publish the new release

see https://github.com/semantic-release/semantic-release for more info.

[2019-02-25 10:30] jackdclark opened #52 "Add ability to update the cache after a mutation"
Currently the only way to update a record after a mutation is to refetch the entire query.

[2019-02-25 14:30] #29 closed

[2019-02-25 14:52] Joezo opened #54 "Requests are not cancelled on unmount"
### Environment

- `graphql-hooks` version: 3.1.0
- `react` version: 16.8.3
- Browser: Any

### Description

Requests are not cancelled on unmount which means we try to update state after component is gone.

![screenshot 2019-02-25 at 14 51 44](https://user-images.githubusercontent.com/2870255/53345483-ecfe7280-390c-11e9-9ff2-7a9ae332e2bd.png)

### How to reproduce

Can be reproduced in the exampl

[2019-02-26 11:14] #20 closed

[2019-02-26 13:20] bmullan91 opened #60 "useQuery only resends the query if options.variables change"
### Environment

- `graphql-hooks` version: `3.1.0`
- `react` version: `16.8.3`
- Browser:

### Description

The when calling `useQuery(query, options)` with different options for example `operationName` or `fetchOptions` it does not re-send the query.

### How to reproduce

[code]

### Suggested solution (optional)

[code]

[2019-02-27 10:45] #60 closed

[2019-02-27 10:45] #37 closed

[2019-02-27 12:35] bmullan91 opened #64 "Add eslint-plugin-react-hooks"
### Description

Add https://www.npmjs.com/package/eslint-plugin-react-hooks to ensure we're doing the right thing 😅.

[2019-02-27 12:42] bmullan91 opened #65 "Remove package-lock.json"
### Description

I refer to https://github.com/sindresorhus/ama/issues/479#issuecomment-310661514

TL;DR: lockfiles for apps, not libraries - also less noise on git diffs.

[2019-02-27 13:17] mcollina commented on #65
+1

Il giorno mer 27 feb 2019 alle 13:42 Brian Mullan <notifications@github.com>
ha scritto:

[2019-02-27 14:59] jh3y opened #68 "Running tests yields errors"
### Environment

- `graphql-hooks` version: 3.1.1
- `react` version: 16.8.3
- Browser: N/A

### Description
Running `npm run test` yields several errors although the tests pass.

[code]

I believe the errors are printed when running `useQuery.test.js` and `useClientRequest.test.js`.

### How to reproduce

[code]

### Suggested solution (optional)
- Potential versioning issue?

[2019-02-27 15:05] jh3y opened #69 "Local set up included in contributing guidelines/getting started"
### Description
For a fresh contributor there are no guidelines on how to set up the project in order to develop against it. This may be related to #40.

On a fresh clone, being able to jump straight into development would be ideal 👍

### Suggested implementation
Extra information included in the `CONTRIBUTING.md` file either pointing at starter apps or with instructions on how to set up as a mono

[2019-02-27 15:29] jackdclark commented on #68
This was introduced in https://github.com/nearform/graphql-hooks/pull/32. [I've added a comment explaining what the issue is in the test file](https://github.com/nearform/graphql-hooks/blob/master/test/unit/useClientRequest.test.js#L90-L109) but we're waiting to see what happens with this react issue https://github.com/facebook/react/issues/14769.

[2019-02-27 15:33] jackdclark commented on #69
This would be great. @Joezo is currently working on #12 to add an example app to the next.js repo, but we could create some examples within this repo too. We're looking into #40 now so will look into adding an examples folder with a basic app in there.

[2019-02-27 16:05] bmullan91 commented on #11
As part of this issue we've (@jackdclark, @Joezo & myself) decided to replace `async/await` usage with vanilla Promises. We did this to keep the bundle size to a minimum - if we transpiled async await we would need to include the runtime-generator which **doubles** the bundle size.

[2019-02-27 16:24] #65 closed

[2019-02-28 10:27] Joezo opened #72 "Add support for Subscriptions"
### Description

We support Queries and Mutations but don't support the third operation type, Subscriptions. We should look at adding that.

### Suggested implementation
I would guess websockets?

[2019-02-28 10:32] mcollina commented on #72
Subscriptions will be extraordinarly complicated. I would restrain from using (and implementing) them, and they are not really part of the spec (See https://github.com/facebook/graphql/blob/master/rfcs/Subscriptions.md, it's a draft).

On the server side, they would scale _horribly_. I've worked on pubsub systems, and this type of unbounded updates is extremely hard to use in production.

It would

[2019-02-28 10:45] #11 closed

[2019-02-28 10:51] Joezo commented on #72
I think you're right @mcollina - it does look incredibly complicated. Might be worth keeping this around as a long running issue to track subscription discussion.

[2019-02-28 13:09] jgoux opened #74 "Refetch queries with mutations subscription"
Hello,

### Description

One important feature of a graphql-client to me is the ability to refetch/update the data of a query after one or multiple mutations executions.

I really liked the idea of "a query subscribes to one or more mutations" here (see onMutation parameter) : https://github.com/arackaf/micro-graphql-react#building-queries

I started playing with the idea that we could leverage th

[2019-02-28 13:13] jgoux opened #75 "Fetch policies"
Hello again 😄 ,

### Description

Do you have/intend to propose a fetchPolicy option in the same spirit as https://www.apollographql.com/docs/react/api/react-apollo.html#graphql-config-options-fetchPolicy ?

This is useful for controlling the UX. For example I often use a "cache-and-network" policy so a refetch of a query doesn't show a "loading" state again.

[2019-02-28 14:42] Joezo commented on #74
We've been thinking about different ways of solving this problem. I'm not against the way you've suggested although I think I would prefer telling the mutations which query they should update, rather than this way around.

There's a related issue here #52.

This is very much open for discussion at the moment.

[2019-02-28 15:05] jgoux commented on #74
@Joezo Could you elaborate about why you prefer to do the subscriptions on the mutation side?

As I see it, the mutation is a data producer, and the queries are data consumers. Putting these dependencies on the data producer feels weird as it will have to know about every consumers. On the contrary, making each consumer decide for itself when it has to be refetch seems more flexible.
Generally the

[2019-03-01 10:36] bmullan91 commented on #74
@jgoux This is a very interesting idea, I've always thought of the dependency as mutation 1 - many queries though.

I could see this working well for simple queries/mutation with no arguments - like the todo's example you gave. But what about mutations and queries with arguments how would to correctly verify that a query should be refetched?

Another concern I have is this puts a lot of the onus o

[2019-03-01 11:05] bmullan91 commented on #75
Hi @jgoux here's a breakdown of each policy and how we support it:

## cache-first

If you provide a cache to `new GraphQLClient({ cache })` this is the default behaviour

## cache-and-network

The `refetch` function provides this behaviour it will set `loading: true`, but the old data will be still set until the fetch resolves.

In the example below I'm rendering both loading and data - best of b

[2019-03-01 11:39] bmullan91 commented on #28
Here's a guide listing the `graphql-hooks` version of Apollo's `fetchPolicy`: https://github.com/nearform/graphql-hooks/issues/75#issuecomment-468629642

[2019-03-01 13:41] Joezo commented on #12
I've opened a PR for this into the next.js repo https://github.com/zeit/next.js/pull/6482

[2019-03-04 09:16] jackdclark commented on #12
This has been merged 🎉, nice work @Joezo. Closing.

[2019-03-04 09:16] #12 closed

[2019-03-04 10:23] Haroenv opened #85 "Console messages are nested"
### Environment

- `graphql-hooks` version: 3.2.1
- `react` version: 16.8.3
- Browser: Safari & Chrome

### Description

Second errors are nested within the first error on refetch.

screenshots are Safari & Chrome

<img width="646" alt="screenshot 2019-03-04 at 11 16 58" src="https://user-images.githubusercontent.com/6270048/53727206-ed988b00-3e6f-11e9-91b8-7e186d99bf99.png">
<img width="629" alt=

[2019-03-04 10:47] bmullan91 commented on #85
We're missing a final `console.groupEnd()` 😅

[2019-03-04 11:13] #85 closed

[2019-03-04 11:30] bmullan91 commented on #85
@Haroenv fixed in `v3.2.2`

[2019-03-04 11:42] Joezo commented on #64
This was completed as part of #77

[2019-03-04 11:42] #64 closed

[2019-03-04 11:49] Haroenv commented on #85
Works perfectly, thanks!

[2019-03-04 12:56] bmullan91 commented on #85
@all-contributors please add @Haroenv for bug

[2019-03-04 16:00] jackdclark opened #91 "Consider adding typings"
### Description

TypeScript type definitions can be bundled with an npm package, even if the lib is not written in TypeScript

See https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html

[2019-03-04 22:16] Stephen2 commented on #12
Hey @Joezo @jackdclark will the example app work with SSR?
https://github.com/zeit/next.js/tree/canary/examples/with-graphql-hooks

[2019-03-04 23:07] bmullan91 commented on #12
@Stephen2 Sure does - it was a initially a clone of the `with-apollo` example, so the structure matches it but swaps out apollo with `graphql-hooks`.

Here's where @Joezo calls the `getInitialState` from `graphql-hooks-ssr` module: https://github.com/zeit/next.js/blob/canary/examples/with-graphql-hooks/lib/with-graphql-client.js#L24

[2019-03-05 04:08] Stephen2 commented on #12
Thanks all, you are legends 👍 👍

[2019-03-05 13:56] jackdclark opened #93 "Add test coverage for graphql-hooks-memcache"
### Package

- [ ] `graphql-hooks`
- [ ] `graphql-hooks-ssr`
- [x] `graphql-hooks-memcache`

### Description

There is currently no test coverage for `graphql-hooks-memcache`, we should add some.

[2019-03-05 13:57] jackdclark opened #94 "Add test coverage for graphql-hooks-ssr"
### Package

- [ ] `graphql-hooks`
- [x] `graphql-hooks-ssr`
- [ ] `graphql-hooks-memcache`

### Description

There is currently no test coverage for `graphql-hooks-ssr`, we should add some.

[2019-03-05 14:00] jackdclark commented on #40
Completed in #78

[2019-03-05 14:00] #40 closed

[2019-03-05 14:03] jackdclark opened #95 "Use rollup to bundle graphql-hooks-memcache"
### Description

Use [Rollup](https://rollupjs.org) to create UMD, ES & CommonJS bundles to be published for `graphql-hooks-memcache`, as we did for `graphql-hooks` in #63

### Suggested implementation

See #63

[2019-03-06 09:38] jackdclark commented on #48
@bmullan91 I've been investigating this one this morning.

Lerna supports the [conventional commit spec](https://www.conventionalcommits.org/en/v1.0.0-beta.2/#specification) via config or a [`--conventional-commits` flag](https://github.com/lerna/lerna/blob/030de9d6285f2b364ed1460b9534bc2190acdf7a/commands/version/README.md#--conventional-commits). When run with this flag, lerna version will use t

[2019-03-06 14:40] #54 closed

[2019-03-06 16:40] #48 closed

[2019-03-07 13:41] #95 closed

[2019-03-07 15:37] #69 closed

[2019-03-08 14:19] jh3y commented on #75
@bmullan91 - Could we take what you've written there and drop it in the `README` under a guide heading of `Fetch policies`?

[2019-03-10 21:45] aribouius opened #116 "Make `cache` option required for SSR"
### Package

`graphql-hooks-ssr`

### Environment

- `graphql-hooks-ssr` version: 1.0.5

### Description
When following the example found [here](https://github.com/nearform/graphql-hooks/tree/master/packages/graphql-hooks-ssr), it is not immediately obvious that using a caching plugin is required.  Some users might choose to begin with the simplest approach possible, and omit a cache provider.

##

[2019-03-11 09:23] bmullan91 commented on #116
We should throw an exception if `client.cache` is undefined.

[2019-03-11 11:28] Joezo opened #118 "Integration test for SSR"
### Package

`graphql-hooks-ssr`

### Description

Add an integration test for the SSR package, making use `useQuery` etc.

[2019-03-11 11:33] Joezo opened #119 "Add end to end tests"
### Package

All packages

### Description

Add end to end test using one of the example apps. We've been using [testcafe](https://github.com/DevExpress/testcafe) on other projects with some success, it should be fairly straight forward to set that up.

It would be great if we could, as part of a PR, build and deploy an example app and then run the tests against it.

If we used the next.js example

[2019-03-11 11:40] #94 closed

[2019-03-11 17:13] jackdclark commented on #119
@Joezo I think we should bring your Next.js example into this repo regardless of whether it's used for end to end tests.

[2019-03-11 17:14] #93 closed

[2019-03-12 10:08] #116 closed

[2019-03-12 10:10] #13 closed

[2019-03-12 11:29] jackdclark commented on #116
Thanks for raising this @aribouius, we've updated the `graphql-hooks` and `graphql-hooks-ssr` packages to throw an error when `client.cache` isn't provided, explaining that it's required in SSR mode. We've also updated the relevant documentation. This has been released in the following patches:

- [graphql-hooks v3.3.1](https://github.com/nearform/graphql-hooks/releases/tag/graphql-hooks%403.3.1)

[2019-03-12 15:53] jackdclark commented on #119
The [create-react-app example](https://github.com/nearform/graphql-hooks/tree/master/examples/create-react-app) is now deployed with Netlify and we have PR apps enabled for that. The [react-browser-hooks](https://github.com/nearform/react-browser-hooks/blob/master/bin/acceptance.js) package runs `testcafe` against Netlify using [this script](https://github.com/nearform/react-browser-hooks/blob/mas

[2019-03-12 16:52] Joezo commented on #119
Yeah I think I agree about it running agains an SSR example. Although anything is better than what we have now.

I'm going to pick this up now and try get something basic pointing at the `create-react-app` example.

[2019-03-13 05:06] aribouius opened #133 "useManualQuery returns state.loading=true by default"
### Package

`graphql-hooks`

### Environment
- `graphql-hooks` version: `3.3.1`

### Description
Calling `useManualQuery` currently returns a state with loading set to true, even though the request function has not been called.

### How to reproduce
- Call `useManualQuery`
- Inspect state

[2019-03-13 10:38] #133 closed

[2019-03-13 10:57] Joezo commented on #133
@aribouius your fix has been released in 3.3.2. Thanks for contributing 🎉

[2019-03-13 15:43] #28 closed

[2019-03-13 17:05] bmullan91 opened #138 "README Updates"
### Package

- [x] `graphql-hooks`

### Environment
- `graphql-hooks` version: `v3.2.3` after lerna

### Description

Publishing `README.md` only updates are tricky... The `~/packages/graphql-hooks/README.md` is ignored the changes are copied over during `prepublishOnly`.

Here's how I got it working:
1. Force a new version of `graphql-hooks`
`lerna version --conventional-commits --force-publish=g

[2019-03-14 10:59] jackdclark commented on #138
I think I'm in favour of 3. Top level overview with a quick start guide and links to packages and examples. Then full API documentation and guides moved into `packages/graphql-hooks`.

[2019-03-14 12:52] #119 closed

[2019-03-14 13:36] bmullan91 commented on #75
This is now [documented](https://github.com/nearform/graphql-hooks#query-component-props) as part of the `Migrating from Apollo` guide.

[2019-03-14 13:36] #75 closed

[2019-03-15 08:59] bmullan91 commented on #138
Ditto @jackdclark 👍

[2019-03-17 18:07] reverie commented on #74
@bmullan91 Would you consider implementing a cache policy like urql's? That library invalidates every query that resulted in a given model whenever a mutation returns an instance of that model. It's a blunt tool but it's been good enough in my current project.

[2019-03-17 19:48] bmullan91 commented on #74
@reverie I've considered it but as you mentioned it's a very heavy-handed approach that would invalidate many queries unnecessarily. I wish to keep the library cache invalidation agnostic - leaving that up to the developer to make the right decision.

The implementation I have in mind for #52 will include an event-emitter, meaning the developer could implement that behaviour themselves; perhaps we

[2019-03-18 08:39] jgoux commented on #74
@bmullan91 Using an event-emitter makes sense! 💡

I adapted my [codesandbox ](https://codesandbox.io/s/m3nq0315m9)implementation using [mitt](https://github.com/developit/mitt), the code is now very simple. 😄

[2019-03-18 08:58] #91 closed

[2019-03-18 10:39] jackdclark commented on #91
Typescript declaration files have been added in the latest releases for each package, these are:

- [graphql-hooks-memcache v1.2.0](https://github.com/nearform/graphql-hooks/releases/tag/graphql-hooks-memcache%401.2.0)
- [graphql-hooks-ssr v1.1.0](https://github.com/nearform/graphql-hooks/releases/tag/graphql-hooks-ssr%401.1.0)
- [graphql-hooks v3.4.0](https://github.com/nearform/graphql-hooks/rel

[2019-03-20 08:41] kkogovsek opened #150 "Inconsistent results for changing query"
### Package
`graphql-hooks`

### Environment

- `graphql-hooks` version: 3.4.0
- `react` version: 16.8.4
- Browser: Any

### Description

When a query changes quickly results are inconsistent. What's wrong is that the current query is not tracked inside useClientRequest.js resulting in a race between different queries and the last one will be stored in state. In my case having consistent timing of

[2019-03-20 08:45] kkogovsek opened #151 "Add useDebugValue"
### Description

I would like this package to add useDebugValue to hooks and make them simple to track in dev tools. I think just showing Loading/Loaded/Error would be enough for useQuery to give a user a sense of what's going on with a hook. Current implementation gives out a few nested hooks without showing relevant data (that's how dev tools are with complex data), so just showing a status woul

[2019-03-20 11:31] bmullan91 commented on #150
@kkogovsek Good catch - we'd love to see a PR if you're up for it 🤗

[2019-03-20 11:34] bmullan91 commented on #151
@kkogovsek Interesting - we could add another option `debug: Boolean` to all the hooks. Then inside the `useClientRequest` hook, we could log out the various states - like a redux logger. Was that what you had in mind?

[2019-03-20 11:36] bmullan91 commented on #151
@allcontributors add @kkogovsek for bug and ideas.

[2019-03-20 12:27] kkogovsek commented on #151
@bmullan91 I like your idea but what I had in mind was to use *useDebugValue* hook which integrates with react dev tools and offer a quick preview of what's going on inside hooks. Here are screenshots of what I ment.
<img width="338" alt="Screenshot 2019-03-20 at 13 24 42" src="https://user-images.githubusercontent.com/8089644/54684154-c4d0f080-4b13-11e9-9b2f-357c6b54d7be.png">
<img width="245" al

[2019-03-20 12:46] bmullan91 commented on #151
@kkogovsek Ah sorry - now I get you. Makes sense 👍

[2019-03-20 14:34] ckiss opened #154 "Add ability to skip query entirely"
### Description

In some cases one could skip making the request to graphql if some condition is true. For example if you have two cascade dropdowns on initial render you want to load and display data only in the first one and the second one just display it as disabled. When you pick something in the first dropdown you have to query the data for the second dropdown.

In this example the second dro

[2019-03-21 21:35] ouuyeah opened #157 "Discuss, Slack...Discord channel :D"
Maybe some tool to spread love, this library is great and I think will have future, please make some chat around :)

Also, somebody has a NextJs boilerplate to share with graphql-hooks :v ?
Thanks guys, you're doing a great thing here.

[2019-03-22 00:00] bmullan91 commented on #157
Thanks, @ouuyeah 🤗- great idea, I've created a spectrum community - it seems to be the new hotness.

Community: https://spectrum.chat/graphql-hooks - this is _brand new_ btw
Next.js example: https://github.com/zeit/next.js/tree/canary/examples/with-graphql-hooks

[2019-03-22 00:00] #157 closed

[2019-03-22 12:00] bmullan91 commented on #150
@kkogovsek Thanks again - the fix is now available in `graphql-hooks@3.4.1` 🎉

[2019-03-22 12:00] #150 closed

[2019-03-25 16:33] brainkim commented on #72
@mcollina Genuinely curious to hear more on this. What do you mean by “unbounded” updates? Are `apollographql/graphql-subscriptions` and packages which implement the `PubSubEngine` interface fatally flawed?

[2019-03-25 16:48] mcollina commented on #72
It closely depends on how you code the resolvers: it's extremely easy to shoot yourself in the foot.

The following example is essentially flowed:

[code]

Essentially you are doing the vast majority of the filtering on your Node.js processes. This __will not scale__, because the processes will receive the vast majority of the updates. You need to use different topics and _never ever filter_ withi

[2019-03-25 18:10] good-idea commented on #72
What would make this difficult on the client?

[2019-03-26 01:09] brainkim commented on #72
@mcollina Had an aha moment today after reading your comment. To rephrase what you’re saying for my own understanding:

Pubsub services are used to scale horizontally. However, if every graphql resolver subscribes to broad hard-coded topics like "something changed" and filters payloads in memory, each process ends up receiving virtually every message that the service publishes, effectively negatin

[2019-03-28 17:42] resdevd opened #171 "Add an example for graphql upload mutation example."
I'm hoping it's possible to upload file to a server using graphql-hooks (form-data). If it's not how are you guys achieving file upload with graphql?
Can anyone add an example of upload mutation with graphql-hooks? Thanks

[2019-03-30 00:55] reiv opened #172 "Docs: Keep data from previous fetch"
### Description

Let's say `useQuery` is called based on the live contents of an input field (e.g. a filter/search box). By default, `data` gets set to `undefined` when the query arguments change, causing rendered content to flash in and out of existence – this doesn't look good. In order to keep the state from the previous fetch, `updateData` needs to be specified in the `useQuery` options (can b

[2019-03-31 05:52] resdevd commented on #171
So here's what I found and implemented a workaround so far. You can get digital ocean spaces or s3 or wasabi. upload the file directly to cloud storage from the web form, grab the url and pass it to a graphql mutation. Closing this now, as it's not related to graphql-hooks and it's graphql issue with ipload.

[2019-03-31 05:52] #171 closed

[2019-04-01 00:45] reverie commented on #154
Why should logic this be in the graphql client library rather than application code?

[2019-04-01 09:45] bmullan91 opened #178 "Update Renovate Config to Update Examples"
### Package

- `examples/*`

### Description

React doesn't like it if there are two versions within a bundle and errors. This happened recently when we updated the packages react version in https://github.com/nearform/graphql-hooks/pull/170 - but failed to also update the `examples/*` package.json.

### How to reproduce

n/a

### Suggested solution (optional)

Update the renovate.json to override

[2019-04-01 09:58] bmullan91 commented on #178
Temporary fix to make things green again 💚 https://github.com/nearform/graphql-hooks/pull/177

[2019-04-04 09:47] simoneb opened #191 "Add ability to require GraphQLClient without having React in scope"
### Description

Even though the library is about React hooks, it provides a generic GraphQL client that doesn't really need React to work.

Because of the way the modules are bundled, it's currently not possible to `require` the `GraphQLClient` module alone, meaning that you have to import the whole module bundle, hence creating a dependency on React.

### Suggested implementation

Change the rol

[2019-04-04 09:52] Joezo commented on #191
I think if we were to do this we should move GraphQLClient into it's own `package`, rather than have rollup spit out multiple outputs.

[2019-04-04 09:55] simoneb commented on #191
Makes sense

[2019-04-04 10:54] otrebu opened #192 "useManualQuery is unboxing differently than usual useState"
### Description

Looking at your documentation:

[code]
Looking at react docs example:

[code]

The state is first argument, and updating the state function is the second argument.
If I am not mistaken you are doing it the other way around.

Is there a reason for this? It is a little confusing.

Cheers and thanks for your work.

[2019-04-04 11:04] bmullan91 commented on #192
@otrebu This is a custom hook, and therefore doesn't have to / isn't intended to match React. There are two reasons for this API:

1. The tuple allows the developer to rename the function to whatever makes sense, esp when using multiple `useManualQuery`'s in one function.
2. The `useManualQuery` use case is typically to do `.then()` on the returning promise, ignoring the second `state` parameter t

[2019-04-04 11:04] #192 closed

[2019-04-04 12:11] otrebu commented on #192
Fair enough @bmullan91 , thank you very much for your explanation!

This custom hook seems very useful, that is why I was asking 😄

[2019-04-04 18:07] danielbischoff commented on #154
You can easily use useManualQuery for that.
With skip, the return type of data can be undefined like you said, but now everyone has to check if data is present before accessing it.

[2019-04-05 11:35] threepointone commented on #68
we just released an alpha with async `act()` implementation that should solve these issues (assuming you were having trouble with an async test). the link in your comment doesn't work anymore? lemme know if you have issues with the alpha, and I'd be happy to pitch in and help fix it.

[2019-04-06 03:41] good-idea opened #197 "Show warning when using gql or passing in non-strings"
### Description

I was migrating from Apollo and didn't remove `gql` before my query strings. The API I was querying returned some cryptic responses and it took a while to figure out that `gql` was causing the problem. The docs for graphql-hooks say "No need to wrap the query in `gql`", but it's easy to miss.

### Suggested implementation

Perhaps showing a warning in the console telling the devel

[2019-04-06 09:18] bmullan91 commented on #197
@good-idea Good idea 😜 A PR would be much appreciated!

[2019-04-06 17:58] good-idea commented on #197
No problem. How would you like to have it go? Just warn when it's not a string?

[2019-04-07 20:59] bmullan91 commented on #52
I've been thinking about this + auto refetching after a mutation. Here are the three methods that's been suggested so far:

1. `useMutation(MUTATION, { updateCache })`
2. `useMutation(MUTATION, { refetchQueries })`
3. `useQuery(QUERY, { refetchAfterMutations })`

---

# updateCache

`useMutation(MUTATION, { updateCache })`

## Usage

[code]

## Implementation

[code]

For this to work correctly we

[2019-04-07 21:30] bmullan91 commented on #68
@threepointone ah the comment link got lost after the lerna move. Here it is: https://github.com/nearform/graphql-hooks/blob/master/packages/graphql-hooks/test/unit/useClientRequest.test.js#L262-L281

Great work on https://github.com/facebook/react/pull/14853 btw - I've just tried `16.9.0-alpha.0` locally and all the big scary`Warning: An update to TestHook inside a test was not wrapped in act(...

[2019-04-07 21:41] bmullan91 commented on #172
@reiv Yea there are a couple of ways to handle this:

1. Use `refetch` return from `useQuery`, and when the input changes call it with the new variables. This already includes the pass-through `updateData` function.
2. Use `useManualQuery` and handle the state changes yourself

I'd also recommend debouncing the input `onChange` handler that causes the query to be triggered.

[2019-04-07 21:48] bmullan91 commented on #191
@simoneb I'm not sure this is something we should be aiming for. I'd suggest using https://www.npmjs.com/package/graphql-request instead.

[2019-04-07 21:51] simoneb commented on #191
Which is what I'm doing at the moment. But on one side I don't see a reason to not expose the GraphQLClient without requiring to have React installed, as it doesn't depend on it, and on the other graphql--hooks is a lot more lightweight than graphql-request

[2019-04-09 08:49] alexparish opened #204 "Should react-dom/server be bundled in the Next.js example app?"
### Package

`graphql-hooks-ssr`

### Environment

- `graphql-hooks` version: 3.4.2
- `graphql-hooks-ssr` version: 1.1.1
- `graphql-hooks-memcache` version: 1.2.0
- `react` version: 16.8.6
- Browser: All

### Description

In the [Next.js example app](https://github.com/zeit/next.js/tree/canary/examples/with-graphql-hooks) it appears `react-dom-server.browser.production.min.js` is bundled into `com

[2019-04-09 12:38] bmullan91 commented on #204
@alexparish Interesting, I think this is an issue with either next.js itself / how the project is configured. I couldn't find any references to `react-dom/server` in our example 🤔

[2019-04-09 12:40] alexparish commented on #204
@bmullan91 Possibly, although I couldn't see it being bundled in the [hello-world app](https://github.com/zeit/next.js/tree/canary/examples/hello-world)

[2019-04-09 12:41] bmullan91 commented on #197
Fixed in #199 and available in `graphql-hooks@3.4.2`

[2019-04-09 12:41] #197 closed

[2019-04-09 12:50] bmullan91 commented on #204
@alexparish Next thing to try: update all the deps (next, graphql-hooks, react etc) and re-check. This would be a good first PR to the next repo too if you're up for it :)

[2019-04-09 14:03] alexparish commented on #204
@bmullan91 will do

[2019-04-09 20:20] shashkovdanil opened #205 "[Question] How to update cache without refetch"
### Package

`graphql-hooks`
`graphql-hooks-ssr`
`graphql-hooks-memcache`

### Environment

- `graphql-hooks` version: `^3.4.1`
- `graphql-hooks-ssr` version: `^1.2.0`
- `graphql-hooks-memcache` version: `^1.1.0`
- `react` version: `^16.8.6`

### Description

How to update cache without refetch? In all examples, after a mutation, a refetch is triggered.

[2019-04-10 09:15] bmullan91 commented on #205
@shashkovdanil Check out https://github.com/nearform/graphql-hooks/issues/52 - the various options are being discussed there.

[2019-04-10 09:15] #205 closed

[2019-04-11 12:02] alexparish commented on #204
Figured out how to exclude that `graphql-hooks-ssr` package from the client-side bundle in a Next.js app.

Simply add the following to package.json:

[code]

Apparently webpack takes that `browser` field into account when working out what to bundle :+1:

Closing this issue as it's not a problem with the `graphql-hooks` library itself.

[2019-04-11 12:02] #204 closed

[2019-04-11 21:30] alexparish commented on #204
@bmullan91 I've created a PR that includes this change: https://github.com/zeit/next.js/pull/7015

It reduces the commons chunk by 18.8kB (7kB gzipped)

I also removed the next config that configured serverless mode as this was preventing the app from building.

[2019-04-12 08:32] bmullan91 commented on #204
@alexparish thanks 🙇

[2019-04-12 22:28] mythmon opened #211 "Add support for GET requests"
### Description

Please add support for making requests to the GraphQL server via GET requests as well as POST requests. This is [described in the GraphQL docs](https://graphql.org/learn/serving-over-http/#get-request). The query details are included in the query parameters of the request, instead of the body.

### Suggested implementation

When configuration the client it would be nice to be able

[2019-04-15 14:57] sheidaee opened #212 "Local state management"
### Description

Is it possible to have local state management like React Apollo? I am not sure if it's possible to add   ```resolvers``` in ```GraphQLClient```

[2019-04-16 11:51] Joezo commented on #211
Would there be a situation where you might want to send one request via GET but another via POST? That might be tricky for us to do.

[2019-04-16 16:53] mythmon commented on #211
A feature I've seen in some other GraphQL libraries is to use GET for queries and POST for mutations. That aligns well with the semantics of HTTP, and makes a lot of other systems, like caching, work nicely. So, using GET for some requests and POST for others would be helpful.

That being said, I'm personally only using this for queries, not mutations. Because of that, I'd be fine with having ever

[2019-04-16 19:29] bmullan91 commented on #211
@mythmon Yep GET for queries, POST for mutations would be the ideal implementation - this also matches Apollo.

`apollo-http-link` docs:

@mythmon Do you fancy making a PR for this? 😄

[2019-04-16 19:55] mythmon commented on #211
I might be able to hack on this next weekend, but I've moved over to Apollo and [react-apollo-hooks](https://www.npmjs.com/package/react-apollo-hooks). It would still be nice to have more options and more independent implementations though. I'll update this issue with any progress I do or don't make.

[2019-04-23 21:48] resdevd opened #219 "How to use GraphQLClient in both SSR and Client mode for Next.Js app?"
### Package

- [ ] `graphql-hooks`
- [ ] `graphql-hooks-ssr`
- [ ] `graphql-hooks-memcache`

### Environment

- `graphql-hooks` version: 3.5

- `graphql-hooks-ssr` version: current
- `graphql-hooks-memcache` version: current
- `react` version: latest
- Browser: all

### Description

Can anyone help me with below situation?
I'm using a Graphql server in a docker container and next's node app in ano

[2019-04-24 02:53] resdevd commented on #219
I finally ended up with the following ini-graphql.js code and performance is greatly improved. This was result of trial and error an dI'm not sure if this is the right way. Can anyone take a look into the following code and see if there is something problematic using graphql-hooks in SSR in this manner from the example ?
 ( https://github.com/zeit/next.js/blob/canary/examples/with-graphql-hooks/li

[2019-04-24 14:52] bmullan91 commented on #219
@resdevd Another approach would be to pass in a different `fetch` option when creating the client on the server. For example, if the graphql API and react app live on the same server you can call the graphql API directly. It will require returning a fake `Response` for the graphql client to handle it without noticing.

We could probably make this a separate module `graphql-hooks-schema-fetch` or i

[2019-04-27 10:14] resdevd commented on #219
@bmullan91 I'll be honest, I'm not that knowledgeable or skilled with implementation of graphql-ssr, I play by ear with a lot of trial and error. I'm satisfied with the performance of my website with above change which greatly improved the load speed to under 3 seconds from 6-7 seconds.

[2019-05-13 14:04] lynxtaa opened #234 "Function returned from useMutation and useManualQuery is not memoized"
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: 3.5.0
- `react` version: 16.9.0-alpha.0
- Browser: Chrome

### Description

Function returned from useMutation and useManualQuery is not memoized and can't  be used in useEffect as a  dependency.

### How to reproduce

[code]

When button is clicked we expect only one request. But because fetchUser is not memoized internally

[2019-05-14 21:30] pelletiermaxime opened #237 "Support for interceptors"
Is there support for interceptors/middlewares in this package ?
Those would really be useful for implementing JWT auth. For example using axios interceptors you can do this: https://gist.github.com/alfonmga/96474f6adb6ed8dee8bc8bf8627c0ae1.

Another sample implementation is react-fetching-library: https://marcin-piela.github.io/react-fetching-library/#/?id=request-interceptors.

Thanks!

[2019-05-15 05:47] yo34 opened #240 "Credentials"
Is the credentials supported, I use

const client = new GraphQLClient({url: 'http://localhost:30000/graphql', credentials: "same-origin"})

But it's not seem to work.

[2019-05-15 08:37] bmullan91 commented on #240
Hi @yo34,

`credentials` is an option used by `fetch` - we support those options via `fetchOptions` object passed to `GraphQLClient`:

[code]

[2019-05-15 08:37] #240 closed

[2019-05-15 08:53] bmullan91 commented on #237
Hey @pelletiermaxime,

We don't have anything like that in place, you can, however, set headers on the client in a couple of different ways:

[code]

[2019-05-15 20:09] yo34 commented on #240
Hi @bmullan91,
It works !
Thanks you.

[2019-05-19 15:29] olistic opened #247 "Allow to remove header from GraphQLClient"
### Description

I think it would be nice to expose a method to remove a previously set header from `client.headers`.

### Suggested implementation

`client.removeHeader(key)`

I can work on this if you give me the OK.

[2019-05-19 16:00] bmullan91 commented on #247
@olistic good idea! Yup, feel free to submit a PR! 🙌

[2019-05-21 06:13] ifndefdeadmau5 opened #250 "Use mutate function inside of callbacks"
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: 3.5.0
- `react` version: 16.8.6
- Browser: chrome

### Description

Below code causes this warning and changing state is never working because of unmounting?
`Warning: Can't perform a React state update on an unmounted component.`
Or am I misusing this? I have no idea how to handle this!

### How to reproduce

[code]

[2019-05-22 02:01] ifndefdeadmau5 commented on #250
Oh, now I got workaround using `state` from useMutation function according to the [docs](https://github.com/nearform/graphql-hooks#mutation-component-%EF%B8%8F-usemutation)
But using mutation function with `async-await` is impossible by nature?

[2019-05-28 02:33] stagedataloss commented on #234
test123test123

[2019-05-31 05:54] emersonlaurentino opened #258 "setHeader not working"
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: `3.5.0`
- `react` version: `16.8.6`
- Browser: `Chrome 73.0.3683.86 64 bits`

### Description

The Authorization header is not being defined in the query, even I have already defined it previously.

### How to reproduce

App.tsx
[code]
PrivateRoute.tsx

[code]

[2019-05-31 06:23] bmullan91 commented on #258
@emersonlaurentino try moving the client setHeader out of the useEffect or do it when you create the client. I pretty sure any requests after your setHeader call will have the correct header, it’s just that the initial render won’t since the logic is in a useEffect and nothing has caused a re-render.

[2019-05-31 06:28] emersonlaurentino commented on #258
@bmullan91 worked correctly, thank you.

I was using `fetchOptions` to override the headers as a way to work around this problem.

[2019-05-31 06:28] #258 closed

[2019-06-01 16:10] lynxtaa commented on #234
As i found out you can use `client.request` from `ClientContext` (which doesn't change during rerenders) for manual queries and mutations in effects (Apollo has [similar approach](https://www.apollographql.com/docs/react/essentials/queries/#manually-firing-a-query)). Note, that caching won't work with `client.request`.

Example:
[code]

[2019-06-03 13:42] olistic opened #261 "Add support for GraphQL multipart requests"
### Description

Add support for GraphQL multipart requests following the [spec](https://github.com/jaydenseric/graphql-multipart-request-spec). This would allow to upload files with a GraphQL mutation.

### Suggested implementation

Use the [extract-files](https://github.com/jaydenseric/extract-files) package and follow an approach similar to [this](https://github.com/jaydenseric/graphql-react/bl

[2019-06-03 22:15] pelletiermaxime commented on #261
9 hours ago ? I just started looking at how file upload works with this package. I will be the first to test your implementation when you get it working =)

[2019-06-05 11:06] bmullan91 commented on #261
@olistic, By all means, go for it 🙌

[2019-06-06 11:24] olistic commented on #52
@bmullan91 I can give option 3 a try and send a PR, is that ok?

[2019-06-08 11:54] #178 closed

[2019-06-08 12:34] #247 closed

[2019-06-08 16:58] lynxtaa commented on #234
I think to achieve memoization without deep quallity checks of `options` object (which also may contain functions like `fetchOptionsOverrides` and `updateData`) we should omit the second argument in useMutation and useManualQuery. Then invalidating returned function based on query will be easy. Although it'll be breaking change. @bmullan91 what do you think? I can create PR based on this idea

[2019-06-08 20:06] olistic commented on #234
@lynxtaa I find your example a bit contrived, to be honest. Is there a reason why you're using `useEffect` instead of calling `fetchUser` inside the `onClick` handler?

[code]

[2019-06-09 09:07] lynxtaa commented on #234
@olistic sorry for the confusion, I oversimplified my example to highlight main issue. Problem is: we can't use useManualQuery and useMutation inside useEffect because it creates infinite render. Here are two more examples:

Using `useManualQuery`:
[code]

Using `useMutation`
[code]

Of course all of it can be solved using custom hook:
[code]

But I think current behaviour is unintuitive and actua

[2019-06-14 09:27] jgoux opened #302 "Group errors under the same key"
Hello,

### Description

I'd like to have all the errors objects grouped.

### Suggested implementation

Instead of having a boolean for the `error` property, why not put `fetchError`, `httpError` and `graphQLErrors` in the `error`, and set it as `null` when there is no error ? Or a new `errors` object for compatibility?

So :

[code]

The reason for that is to ease the handling of errors when exe

[2019-06-19 00:39] kinyat opened #308 "How to refresh JWT token for every 401 error and retry the query again"
### Package

- [x] `graphql-hooks`

### Environment

- `graphql-hooks` version: 3.5.1

### Description

Hi,

Thanks for making this awesome repo for graphql hooks!

We are trying to implement a JWT based auth and want to see how graphql-hooks fits it.

We see there is an API called `client.setHeader` which can be used to set the `Authorization` header.

However, we want to have some kind of mechan

[2019-06-19 09:31] edvinasbartkus commented on #308
`graphql-hooks` also supports custom `fetch`. It can be passed into `GraphQLClient` constructor as `fetch` property. I did a quick experiment to validate that it works with custom axios where you can setup interceptor to capture JWT expired response and update token, here is the example:

[code]

[2019-06-19 09:53] mcollina commented on #308
Maybe we can add that as a snippet in the README?

[2019-06-21 07:38] edvinasbartkus commented on #308
@kinyat let us know if there are any troubles getting it to work with JWT and we will try to address it. For now, will be closing this.

[2019-06-21 07:38] #308 closed

[2019-06-21 10:59] #261 closed

[2019-06-21 14:30] edvinasbartkus commented on #237
You can look at the option of supplying axios instance for fetch functionality where you can control interceptors. Here is the example document in README.md:
https://github.com/nearform/graphql-hooks#request-interceptors

For now, will be closing this issue.

[2019-06-21 14:30] #237 closed

[2019-06-21 14:31] pelletiermaxime commented on #237
Cool, thanks!

[2019-06-25 08:12] edvinasbartkus commented on #154
Agree on @danielbischoff here. Skipping can be achieved with `useManualQuery`. here is a quick example:

[code]
In this example, subData by default will be undefined but you can assign a default value with destructing the object and it will replace with the actual value once you call `fetch`. Hopefully, this can work for you.

Closing this now. Let us know if you see that there is another benefit

[2019-06-25 11:41] edvinasbartkus commented on #250
mutation function does support `async-await`. The returned value from it is Promise therefor you can do `await` and it should work. We do that in the examples and it works well.

We do recommend that you would put `useMutation` hook in the component where the data is consumed by the component so that you don't need to pass the reference through the stack.

But if you need to access the prop deep i

[2019-06-25 11:41] #250 closed

[2019-06-25 18:12] olistic opened #313 "Shouldn't refetch clear errors?"
### Description

I'm using `refetch` to retry a failed query, like this:

[code]

I expect that when I click "Retry" (which calls `refetch`) `loading` is set back to `true` and any errors from previous fetch are cleared, so I see the spinner again.

Does this make sense?

[2019-06-28 08:23] joeynimu opened #315 "Client URL override"
### Description

It would be nice to have a way to override the `url` passed on the client's constructor.

For instance, I have two `graphql` endpoints. One that doesn't need `Authorization/Authentication` and another that doesn't. Some parts of my app use data that doesn't need an access token and other parts consume data that doesn't.

Of course I could create two instances on the client with th

[2019-06-28 08:36] joeynimu commented on #211
@bmullan91 I could give this a shot with some guidance :-D

[2019-06-30 03:37] altano commented on #27
Hey! Does using fragments **just** need documentation, or is it not working yet and there's work left to be done?

[2019-07-03 09:34] bmullan91 commented on #27
@altano Just docs required - it's just combining template strings, perhaps documenting some best practices.

[2019-07-04 04:50] altano commented on #27
If you link me to a code example of any kind I could maybe figure it out and help write a draft of the docs? No rush. Thanks!

[2019-07-04 05:06] altano commented on #27
And I certainly hope you don't _actually_ mean it's _just_ template string concatenation of strings like:

[code]

This might be fine for a REALLY tiny site but it would obviously have all sorts of issues like debuggability. For example, if the query ended up being invalid you'd have no way of knowing where the problematic code actually was. And you'd have to pass all data from the entire response

[2019-07-05 14:21] capaj opened #324 "throw errors from hooks"
same reasoning as in https://github.com/trojanowski/react-apollo-hooks/issues/28

[2019-07-08 14:42] Joezo opened #325 "Enforce conventional commit messages"
### Description
We should use automated tools to help prevent PRs being merged with non conventional commits.

### Suggested implementation
We've had success with a combination of these two tools in the past.
- [semantic release pull requests](https://github.com/probot/semantic-pull-requests)
- [commitlint](https://github.com/conventional-changelog/commitlint).

[2019-07-09 05:05] olistic commented on #313
@edvinasbartkus Were you able to take a look at this? Thanks

[2019-07-09 15:24] Satyam opened #327 "memCache keys() is useless"
### Description

This piece of code, useful in debugging, is basically useless:

[code]
The keys returned by the `keys()` method cannot be used with any of the other methods.

### Suggested implementation

As the keys are hashes that cannot be reversed, provide a `rawGet` method or any other name (`_get` ?) which doesn't rehash the hashes returned by `keys()`, or simply provide a pseudo-private re

[2019-07-09 16:19] reggi opened #328 "Sending cookie (connect.sid)"
I need to send the cookie header along with the requests, is this possible?

[2019-07-09 16:51] reggi commented on #328
![Screen Shot 2019-07-09 at 12 49 57 PM](https://user-images.githubusercontent.com/296798/60907712-37dbaf80-a248-11e9-9ac2-50176db5d3aa.png)

[2019-07-09 19:21] simoneb commented on #328
I can think of two options:

1) use the client's [`headers` property](https://github.com/nearform/graphql-hooks#graphqlclient)
2) use [request interceptors](https://github.com/nearform/graphql-hooks#request-interceptors)

[2019-07-10 08:23] Joezo commented on #328
Is this solved by passing additional fetch options? Specifically the `credentials` option.

[code]

[2019-07-10 16:12] helloguille opened #330 "ssR on cache cold-start"
### Package

`graphql-hooks`
`graphql-hooks-ssr`
`graphql-hooks-memcache`

### Environment

- `graphql-hooks` version: latest
- `graphql-hooks-ssr` version: latest
- `graphql-hooks-memcache` version: latest
- `react` version: 16.8.6
- Browser: Chrome 75 (but not relevant)

### Description

If a cache-miss occurs on during ssr (after a server restart). ssR will output "loading" (or whatever returns

[2019-07-10 16:45] helloguille commented on #330
I had to apply the following work around in my server code:

[code]

[2019-07-10 21:20] helloguille commented on #330
My bad:
[code]
Should be:
[code]

[2019-07-10 21:20] #330 closed

[2019-07-16 23:08] joealden opened #331 "Issue in Edge Causing JS Parsing Error"
### Package

`graphql-hooks-memcache`

### Environment

- `graphql-hooks` version: `3.6.0`
- `graphql-hooks-memcache` version: `1.2.1`
- `react` version: `16.8.6`
- Browser: Edge 18

### Description

When visiting my site in Edge, I am getting the following error logged to the console:

[code]

From a little research, and from looking at where the error happened in the source-map (shown in the bel

[2019-07-17 09:28] mcollina commented on #331
How are you bundling/transpiling this? I fear it might just be some missing configuration on webpack/babel.

[2019-07-17 20:02] Saintroi opened #333 "Refetch Causes Component Reload"
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: 3.6.0
- `graphql-hooks-memcache` version: 1.2.1
- `react` version: 16.8.6
- Browser: Chrome

### Description

I am updating my application to focus on hooks usage, and in the process I wanted to try and replace the GraphQL calls with hooks as well.

I have a component that displays a list of users, and other components with

[2019-07-18 20:31] joealden commented on #331
@mcollina I am using a relatively new version of GatsbyJS, but a version before they started transpiling `node_modules` (I haven't upgraded due to a build issue we are having with our project with the latest version).

From your above comment, am I right in thinking that you expect people to configure webpack + babel to transpile their project's dependencies?

[2019-07-22 19:25] jonaskello opened #334 "Using with a normalized cache"
I created an [example here](https://github.com/jonaskello/graphql-hooks-normcache-example) that combines graphql-hooks with a normalized cache plugin with using [graphql-norm](https://www.npmjs.com/package/graphql-norm).

It was quite easy to combine these two packages and I think with some further work it could lead to a solution with the same core features as apollo/relay (ie. a graphql client w

[2019-07-26 14:06] levrik opened #337 "onError doesn't do what it suggests"
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: 3.6.0

### Description

I wanted to use `onError` to implement a JWT session refresh after a failed request and then retry the request. But now I had to find out that `onError` only gets called if error logging is enabled (which already is quite weird). Also I can't return another `Promise` from `onError` to actually still r

[2019-07-29 10:42] Joezo commented on #328
Closing due to inactivity.

[2019-07-29 10:42] #328 closed

[2019-07-29 20:07] bmullan91 commented on #234
Fixed in #298

[2019-07-29 20:07] #234 closed

[2019-07-29 20:13] bmullan91 commented on #302
@jgoux sorry for the delay - I agree, much nicer 👍

[2019-07-29 20:28] bmullan91 commented on #313
@olistic Sorry for the delay, yea I think you're right - we should clear the errors.

In the meantime, you can handle them as two separate states:

[code]

I think you're overloading the `Loading` component here btw, might be worth having a separate component/logic for handling errors.

[2019-07-29 20:39] bmullan91 commented on #333
@Saintroi sorry for the delay; do you might including a code example of this issue you're describing? I think we can solve your issue with the current API :)

[2019-07-29 20:46] edvinasbartkus commented on #313
Sorry for the delay. Some vacation time got on a way. I have looked it up the changes I have prepared earlier and rebased with the current master:
https://github.com/nearform/graphql-hooks/pull/339

My suggestion is simply to check before going to loading state if there was an error before. If so, we can reset to the initial state + loading.

[2019-07-29 21:05] bmullan91 commented on #331
@joealden Good catch! Seems we're missing this `.babelrc.js` in `graphql-hooks-memcache`, I'm hopefull using the same one from here should do the trick: https://github.com/nearform/graphql-hooks/blob/master/packages/graphql-hooks/src/.babelrc.js

@joealden I don't have easy access to a windows machine to test/debug, do you fancy trying that out?

Steps:
1. Read the `for developers` section in the

[2019-07-29 21:42] Saintroi commented on #333
Sure! Code is below, just to confirm I added a "refetch" button on my page that calls the refetch for the LIST_USERS query, which then causes the entire component to reload.

Typically I'd be passing this refetch down to a create/delete/update user component and calling it once those actions have been taken, so want to avoid what is essentially a page refresh.

Thanks!

[code]

[2019-07-30 08:07] bmullan91 commented on #333
@Saintroi When you call `refetch` the previous data will still be there, so you can still render them + the loading indicator, that should provide a better user experience.

One question, what the reasoning behind this code:

[code]

How come you're reassigning the `let dat` instead of using two separate `const`'s?

[2019-07-30 08:37] bmullan91 commented on #337
@levrik sorry for the delay; I agree `onError` isn't that useful for this. You can solve this by passing your own `fetch` implementation, something along these lines:

[code]

[2019-07-30 18:40] Saintroi commented on #333
@bmullan91 That's the idea, but my point is that the call to refetch is causing my component to reload, which didn't happen before swapping over to graphql-hooks. Is there something I need to do differently to prevent the reload?

Per your question, you'll notice I'm calling 2 queries there. I need loading and error for both of them, but didn't want to create 4 different constants, especially sinc

[2019-08-01 09:44] levrik commented on #337
@bmullan91 Awesome. Thanks!

[2019-08-01 09:44] #337 closed

[2019-08-04 12:15] olistic commented on #52
I've been playing with the library trying to implement `refetchAfterMutations` inspired by @jgoux's [example](https://github.com/nearform/graphql-hooks/issues/74#issuecomment-473817371). I reached a point in which my queries refetch when any of the specified mutations run, but only when the component that execute those queries are mounted (because I'm subscribing to the mutations inside `useQuery`

[2019-08-07 08:08] brookback opened #348 "Typescript: Variables are not typed in hook functions"
### Description

Right now, the various hook functions provides sending a type for the data response:

[code]

However, the variables are *not* strongly typed because `UseClientRequestOptions.variables` is just an `object`:

[code]

### Suggested implementation

I'm happy to provide a PR for this. I'd make sure to:

1. Type `UseClientRequestOptions` with a generic type:

[code]
2. Then use the new

[2019-08-07 08:17] bmullan91 commented on #348
@brookback Yep makes sense - PR welcomed :)

[2019-08-07 08:22] bmullan91 commented on #52
@olistic could you write down your thoughts / share your WIP, then what you're questions are. It'll be worthwhile capturing this info + responses to document why changes have been done for others who come to this issue at a later date.

After that then we could arrange a call 👍

[2019-08-11 05:58] cbalano commented on #211
Setting the HTTP verb to get actually works. Like this:
const client  = new GraphQLClient({url: 'https://something.server.com/gql', fetchOptions: {mode:'no-cors', method:'GET'}

The showstopper arises after : (

TypeError: Failed to execute 'fetch' on 'Window': Request with GET/HEAD method cannot have body.
    at GraphQLClient.request (graphql-hooks.js:245)
    at graphql-hooks.js:430
    at grap

[2019-08-12 16:22] galmail commented on #302
I've created a PR for this: https://github.com/nearform/graphql-hooks/pull/354

[2019-08-12 19:13] helloguille commented on #211
I have the same need:
Sometimes you need to cache the API response from a CDN, that's why you might want to use GET for non-mutation queries (CDNs like Google Cloud CDN will only cache GET requests)

[2019-08-13 13:41] galmail opened #355 "Release Management and Code Versioning Documentation"
### Package

This applies in general to all packages

- [x] `graphql-hooks`
- [x] `graphql-hooks-ssr`
- [x] `graphql-hooks-memcache`

### Description

We are looking to include in the documentation a chapter about how we are managing releases and code versioning.

[2019-08-13 13:48] Joezo commented on #355
These are the existing docs on this https://github.com/nearform/graphql-hooks/blob/master/CONTRIBUTING.md#release-process - they're very vague.

[2019-08-13 14:59] JaKXz commented on #154
This is a feature that I think is very useful from react-apollo mainly because you might have dependent queries in a single component. Maybe I'm doing something wrong, but, if `useQuery(QUERY_STRING, { skip: !someRequiredVariable })` returns `{ loading: true, error: null, data: null }` when `someRequiredVariable` is falsy, then it makes sequential operations very easy to write. For example:

[code

[2019-08-13 15:27] galmail commented on #315
In this case, my suggestion will be doing something like this:

1. Create two clients, one of which is using Auth settings.

[code]

2. Create an HOC function to wrap your components like this:

[code]

3. Finally you can use it in your code like this:

[code]

[2019-08-13 15:43] galmail commented on #212
Hi @sheidaee , I'm curious.. what are you trying to do? is that for offline mode?

[2019-08-13 16:17] galmail commented on #211
yes makes sense.. I will try to raise a PR for that

[2019-08-16 04:54] heymartinadams opened #356 "Query or simply re-render?"
### Package
`graphql-hooks`

### Environment
- `graphql-hooks` version: 3.6.0
- `preact 10.0.0-rc.1`
- Browser: `Chrome 76`

### Description
I use a few `useState` and `useEffect` hooks in the component and am noticing that each time I call them it _appears_ that the API is called (see example below), even though `cacheHit` logs as `false`. Is there really another query being performed, or does th

[2019-08-16 04:55] heymartinadams commented on #356
Closing as per solution above.

[2019-08-16 04:55] #356 closed

[2019-08-19 10:58] simoneb opened #357 "Build breaks due to wrong way to cache package.json file(s) contents"
### Package

Whole monorepo

### Description

This has been addressed in #354 but depending on how quickly we can merge that it may make sense to pull that out as a standalone fix, so that other PR branches have their builds fixed.

[2019-08-19 11:30] Joezo commented on #357
I'm planning on reviewing that PR in a couple of hours, so i don't think pulling it out will be worth it.

[2019-08-19 11:31] simoneb commented on #357
sure just put this out there because it's blocking all other work due to the broken builds

[2019-08-19 13:21] mcollina commented on #72
I'm going to partially change my mind. While subscriptions implemented as "backend" services, backed by a pubsub, are hard to implement correctly, subscriptions can be implemented effeciently at the database layer, e.g. with https://hasura.io/. Maybe we should give it a try.

[2019-08-19 19:54] matiasCepeda commented on #212
Possibly what @sheidaee is trying to do is to get rid of a state manager such as Redux  and use graphql-hooks cache instead. Like using '@client' in ApolloClient

[2019-08-20 15:32] bmullan91 commented on #302
Fixed in #354 - available in `graphql-hooks@4.0.0` 🎉

[2019-08-20 15:32] #302 closed

[2019-08-22 14:34] #348 closed

[2019-09-01 19:52] bmullan91 commented on #154
@JaKXz `useManualQuery` is more suitable for that use case since you only want to call it after the usePromiseApi has resolved. NOTE I'd recommend you use either a hook for the promise call, or a `useEffect`.

[2019-09-01 19:54] #315 closed

[2019-09-09 08:14] bkniffler opened #363 "Comparison: Apollo hooks"
I've just discovered graphql-hooks and I'd love to know what the core differences are to apollo, and I guess its more people will wonder when discovering this library. Since apollo now also supports hooks API, and since there is a 1:1 migration guide from apollo to graphql-hooks, it looks like the differences are under the hood (performance, complexity, library size).

Would love to see a small pa

[2019-09-19 10:10] akougblenou opened #365 "Cannot find module 'useClientRequest' from Component"
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: 4.0.0
- `react` version: 16.9.0
- Browser:

### Description

I am try to test a component that uses graphql-hooks.
I have looked at the test folder in the repo and try to emulate what had been done.
The issue is that when I run my tests I get this error:
[code]

here is the code:

[code]

I am not sure as to how to do this t

[2019-09-24 04:32] and3rsonsousa opened #366 "tiny_lru__WEBPACK_IMPORTED_MODULE_0___default"
### Package

`graphql-hooks`
`graphql-hooks-ssr`
`graphql-hooks-memcache`

### Environment

- `graphql-hooks` version: 3.2.1
- `graphql-hooks-ssr` version: 1.0.1
- `graphql-hooks-memcache` version: 1.0.4
- `react` version:  16.8.2
- Browser: Chrome 77.0.3865.90

### Description

Started to get this error one day ago only on localhost, on now(zeit) works properly. Downloaded Next.js example using g

[2019-09-25 16:48] fabienheureux commented on #366
Exact same issue here 😶

[2019-09-26 21:33] terryyu opened #371 "SSR feature is broken since 3.6.1"
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: 3.6.1 or 4.0.0

### Description

SSR feature is broken since 3.6.1, you can test with the provided fastify-ssr example

### How to reproduce

Clone the project, go to examples/fastify-ssr, set graphql-hooks to different versions in package.json.

Set graphql-hooks to 3.6.1 or 4.0.0 in package.json
[code]
Install, build and s

[2019-10-02 17:43] jackh726 opened #374 "Allow passing client as an option"
Similar issue here: https://github.com/nearform/graphql-hooks/issues/315

### Description
As in the linked issue, I need to make requests to different endpoints. The solution in the linked issue was to just add a new HOC that wraps the current component in a `ClientContext.Provider`. While this does work, it more or less goes contrary to the goals of hooks (at this point, you now have a HOC AND ho

[2019-10-03 18:59] #366 closed

[2019-10-17 14:21] skywickenden commented on #333
I realise this is a bit stale, but I came across this issue as well and thought I would  document what I did.

It is due to the entirety of the data in the query response being over written from the new query result rather than patching it.  This happens on line 35 - 38 of [useQuery](https://github.com/nearform/graphql-hooks/blob/master/packages/graphql-hooks/src/useQuery.js)

          // don't c

[2019-10-17 14:55] skywickenden commented on #333
I've worked out a more generic solution that seems to be working for me. Use with caution as it hasn't been extensively tested and it is mutating the original object so there may be issues I've not thought of.. It makes use of this [diff](https://github.com/flitbit/diff) module so you will need to install that.

    import { observableDiff, applyChange } from "deep-diff";

    ...

    refetch({

[2019-10-22 15:04] #371 closed

[2019-10-23 13:36] bmullan91 commented on #118
Fixed in #382

[2019-10-23 13:36] #118 closed

[2019-10-24 11:14] jdin opened #386 "Support for non-react frameworks"
### Description

The project is tightly coupled with React, but there are more projects that support "hooks api".
For example [Haunted](https://github.com/matthewp/haunted). Would it be possible to make React dependency optional so that these hooks can also be used with other projects?

### Suggested implementation

Instead of directly importing react hooks you can make some kind of factory:

[cod

[2019-10-24 13:05] bmullan91 opened #387 "State not being updated after a second cache hit when updateData is set"
### Package
`graphql-hooks`

### Environment

- `graphql-hooks` version: `4.0.1`

### Description

If the query has had a previous cache hit, then the variables change and the second request is also cached but it never updates the state due to:
1. `options.updateData` is set therefore we never reset the state (correct)
1. When useClientRequest finds a cache hit for the second query, it dispatches

[2019-10-24 13:32] #387 closed

[2019-10-24 13:45] #357 closed

[2019-10-24 16:51] bmullan91 commented on #387
Fixed in `graphql-hooks@4.0.2`

[2019-10-24 16:51] bmullan91 commented on #371
Fixed in `graphql-hooks@4.0.2`

[2019-11-01 09:08] joeynimu opened #395 "Duplicated items when using pagination"
### Package
- `graphql-hooks`

### Environment

- `graphql-hooks` version:^3.5.0

- `graphql-hooks-memcache` version: ^1.2.4
- `react` version: ^16.10.2
- Browser: chrome

### Description

I am using this package to consume a graphql API and my UI has a load more button which essentially loads more items if there is a `next_page`. But on fetching the next page I am getting duplicated items. This i

[2019-11-04 01:23] bmamouri opened #396 "useQuery stuck indefinitely in ssr when skipCache is set to true"
### Package
`graphql-hooks`
`graphql-hooks-ssr`

### Environment

- `graphql-hooks` version: 4.0.2
- `graphql-hooks-ssr` version: 1.1.4
- `graphql-hooks-memcache` version: 1.2.4
- `react` version: 16.11.0
- Browser: Chrome Version 78.0.3904.87

### Description

In `useQuery` if `skipCache` is set, the query run indefinitely without raising any error or returning any result. Setting `skipCache` to

[2019-11-06 16:56] lynxtaa opened #399 "File upload from NodeJS"
### Package

- [x] `graphql-hooks`
- [x] `graphql-hooks-ssr`
- [ ] `graphql-hooks-memcache`

### Environment

- `graphql-hooks` version: 4.0.2

### Description

Is there a way to use `client.request` to upload files from NodeJS?

[2019-11-13 11:49] skywickenden opened #400 "How do we mock useQuery"
### Description

It would be great if there was a short doc on how to easily mock useQuery when writing tests for pages that use it.

### Suggested implementation

At present I mock the graphql-hooks import and then conditionally return the correct query, but this is messy. Is there a better way?

    jest.mock('graphql-hooks', () => {
      return {
        useQuery: (query, options) => {

[2019-11-15 10:21] lynxtaa commented on #399
Ok, right now `graphql-hooks` is using [extract-files](https://github.com/jaydenseric/extract-files) which doesn't support Node Streams. Hopefully it will, after this PR https://github.com/jaydenseric/extract-files/pull/11

Then `graphql-hooks` can be updated to support file upload from NodeJS

[2019-11-20 09:22] firstpersoncode opened #403 "TypeError: Failed to execute 'fetch' on 'Window': Illegal invocation"
When I tried to use the `useQuery` hook within my component.
I got error like this:
[code]

I'm trying to implement it for SSR.
I didn't do much with this library yet.. what I did was just following the docs..

here's how I use the useQuery:
[code]

here's how I setup my client:
[code]

This is how I provide client in server side
[code]

And in client side
[code]

can you please tell me, where I d

[2019-11-20 11:55] firstpersoncode commented on #403
Alright my bad..
I just need to do something like this, and it fixes for me..

[code]

[2019-11-20 11:55] #403 closed

[2019-11-20 16:11] helloguille commented on #211
Hi, pull request author here, I changed a few lines to add support for GET method, via fetchOptionsOverrides: {method: "GET"}

[2019-11-27 09:39] bmullan91 commented on #211
Fixed in #410

[2019-11-27 09:39] #211 closed

[2019-11-27 11:33] bmullan91 commented on #211
Available in `graphql-hooks@4.1.0` 🚀

[2019-11-27 23:15] bmullan91 commented on #396
@bmamouri You could update the cache manually, it just requires a bit of code than it should be 😅

[code]

[2019-11-28 10:54] #396 closed

[2019-11-28 10:59] bmullan91 commented on #396
Available in `graphql-hooks@4.1.1` 🚀

[2019-11-28 16:22] bmullan91 commented on #68
Fixed in #412

[2019-11-28 19:03] lynxtaa commented on #400
For our project we just mocked fetch function in GraphQLProvider. Hope it helps

[code]

[2019-12-02 11:20] bmullan91 commented on #72
Fixed in `graphql-hooks@4.2.0` 🚀

[2019-12-02 11:20] #72 closed

[2019-12-12 13:11] bmullan91 commented on #399
Fixed in #422 - available in `graphql-hooks@4.3.0` 🚀

[2019-12-12 13:11] #399 closed

[2019-12-13 22:42] TriStarGod opened #427 "Graphql client comparison"
### Description

Graphql clients comparison (apollo client vs graphql-hooks vs urql).

### Suggested implementation

List describing the advantages / disadvantages to other major clients. This library looks interesting but I don't see any advantage other file size.

[2019-12-17 08:55] WayneEllery opened #428 "cacheHit is false when loading from cache on re-renders"
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version:

- `graphql-hooks-ssr` version: 4.3.0
- `graphql-hooks-memcache` version: 1.3.0
- `react` version: 16.12.0
- Browser: Chrome 79.0.3945.79

### Description

Currently on re-renders `cacheHit` is not updated and stays as `false` even when data is loaded from cache.

### How to reproduce

[Codesandbox](https://codesandbox.io/s/

[2019-12-18 16:00] bmullan91 commented on #428
@WayneEllery The issue resides here: https://github.com/nearform/graphql-hooks/blob/master/packages/graphql-hooks/src/useQuery.js#L30-L32. We never call the `queryReq` from `useClientRequest` again since the option did not change between renders. I'm not sure if this is an issue, what are you using `cacheHit` for?

[2019-12-18 20:45] WayneEllery commented on #428
@bmullan91 Thanks for getting back to me. I've been using it for 2 reasons:

- We need to fire a tracking event with the data when data is loaded from the api call instead of from cache. Eg ```
const { loading, error, data, refetch, cacheHit } = useQuery(QUERY)
if (cacheHit) {
  track(data);
}
[code]

[2019-12-20 23:44] heymartinadams opened #433 "mutationFn doesn’t work with options"
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: `4.3.0`
- `react` version: `preact 10.0.5`
- Browser: `Chrome 79.0`

### Description

`mutationFn` doesn’t work with options provided. Instead, only `useMutation` appears to accept options, even through [here](https://github.com/nearform/graphql-hooks#usemutation), you write:

### How to reproduce

This works:
[code]

This d

[2019-12-22 18:28] heymartinadams commented on #433
Ah, sorry, this error occurred because I created a custom normalization cache (thanks to @jonaskello’s excellent work with [graphql-norm](https://github.com/dividab/graphql-norm)). If I use [graphql-hooks-memcache](https://github.com/nearform/graphql-hooks/tree/master/packages/graphql-hooks-memcache), this error disappears. (Don’t recall what my original reasons were for using `graphql-norm` — in

[2019-12-22 18:28] #433 closed

[2019-12-31 23:08] marcelalburg opened #434 "Next.js and graphql-hooks with ServerSide Rendering"
### Package
`graphql-hooks`
`graphql-hooks-ssr`

### Environment

- `graphql-hooks` version: 4.3.0
- `graphql-hooks-ssr` version: 1.1.5
- `graphql-hooks-memcache` version: 1.3.0
- Browser: SSR

### Description

I use next.js with graphql-hooks and have trouble with the SSR. If you run graphql-hooks on the server and the graphql response contains errors i don't see any possibility to catch this err

[2020-01-09 04:40] WayneEllery commented on #331
I can confirm that this would fix this particular issue. We are experiencing the same issue. @bmullan91 Are you able to make the change or I can create a PR?

[2020-01-10 10:15] bmullan91 commented on #331
@WayneEllery thanks, send us a PR that'd be great 🙇

[2020-01-15 11:18] zelphir opened #439 "SSR pre-fetching is not working"
### Package

`graphql-hooks`
`graphql-hooks-ssr`
`graphql-hooks-memcache`

### Environment

- `graphql-hooks` version: 4.3.0

- `graphql-hooks-ssr` version: 1.1.5
- `graphql-hooks-memcache` version: 1.3.0
- `react` version: 16.12.0
- Browser:

### Description
Using the example app from the `next.js` repo (straight from [here](https://github.com/zeit/next.js/tree/canary/examples/with-graphql-hooks)

[2020-01-15 11:19] zelphir commented on #439
related to https://github.com/zeit/next.js/issues/9865

[2020-01-20 16:23] bmullan91 commented on #26
Done in #360

[2020-01-20 16:23] #26 closed

[2020-01-21 13:27] brookback opened #444 "Data variable from useQuery is briefly undefined – inconsistent with TS types"
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: 4.3.0
- `react` version: 16.12.0
- Browser: Chrome

### Description

I noticed the `data` variable returned from `useQuery` is undefined when first rendering a component. This collides with the fact that the types say it's always defined.

See `index.d.ts`:

[code]

### How to reproduce

[code]

**Result**

<img width="484"

[2020-01-21 15:24] #331 closed

[2020-01-22 16:57] brookback opened #450 "Missing subscriptionClient in TS typings for GraphQLClient constructor"
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: 4.4.1
- `react` version: 16.12.0
- Browser: Chrome

### Description

The `subscriptionClient` key is missing from the `ClientOptions` type. This is inconsistent with the documentation in README.

### How to reproduce

[code]

### Suggested solution (optional)

Add a dev dependency on `subscriptions-transport-ws`, import the

[2020-01-23 12:49] brookback commented on #444
Note that fixing this is a breaking change, since if people rely on `data` always being defined, making it optional will cause a bunch of compile errors.

[2020-01-28 09:36] #450 closed

[2020-01-30 12:48] bmullan91 commented on #395
@joeynimu Hey, sorry for the lack of response on this - did you ever get to the bottom of your issue? You're codesandbox link no longer works, so I can't take a look myself :(

[2020-01-30 12:50] bmullan91 commented on #386
@jdin You can create an instance of the `GraphQLClient` and use it in any environment. We don't have any plans of decoupling the hooks from React though.

[2020-01-30 12:50] #386 closed

[2020-01-30 12:54] bmullan91 commented on #374
@jackh726 Sorry for the lack of response on this - this sounds like a good first issue, is this something you'd be interested in taking on?

[2020-01-30 12:56] bmullan91 commented on #365
@akougblenou Sorry of the lack of response - this seems like a developer error since there have been no other similar bugs. I will close but feel free to reopen if you have a code sandbox that replicates the issue.

[2020-01-30 12:56] #365 closed

[2020-01-30 12:57] bmullan91 commented on #427
Relates to #363

[2020-01-30 13:05] bmullan91 commented on #363
@bkniffler Sorry for the lack of response on this - You rightly pointed out the key differences performance, complexity, library size.

Complexity and library size I think are reflected in the docs but not as a direct 1:1 comparison.
Performance is a grey area, we'd need to create a sample app and metrics to measure to accurately gauge performance. I don't have the time do such a task atm, but I'l

[2020-02-11 02:35] helloguille commented on #374
I'm also interested in this. I need it urgently. I already worked on some small contributions to the library (a head start for GET support, that was actually re-written by @bmullan91 :D).

[2020-02-11 10:58] bmullan91 commented on #374
@helloguille Feel free to open a PR and I'll take a look 👀

[2020-02-12 16:55] joeynimu commented on #395
Hey @bmullan91, I did! Turned out the issue was actually on my API. Thanks!

One thing I noticed though, is that the `error` type should be an Object but it actually returns a Boolean. Not sure if it's a mismatch on the docs and API or it is something just happening to me

[2020-02-12 17:15] bmullan91 commented on #395
@joeynimu Ah 😅- I'll close this then.

RE the error object vs boolean, that changed in v4 (https://github.com/nearform/graphql-hooks/pull/354) what version are you running?

[2020-02-12 17:15] #395 closed

[2020-02-24 16:24] #374 closed

[2020-02-25 12:04] bmullan91 commented on #374
Available in `graphql-hooks@4.4.3`

[2020-02-25 16:12] #313 closed

[2020-02-25 16:14] bmullan91 commented on #439
related to #434

[2020-02-25 16:47] bmullan91 commented on #428
@WayneEllery Sorry for the delay - I'm going to close this `cacheHit` shouldn't be relied upon like this as it's more of an internal field really that's exposed to be helpful.

[2020-02-25 16:47] #428 closed

[2020-03-06 13:01] #400 closed

[2020-03-18 19:28] chughes87 opened #476 "Please upgrade sindresorhus/fnv1a for IE11 compatibility"
### Package

`graphql-hooks-memcache`

### Environment

- `graphql-hooks-memcache` version: 1.3.1

- Browser: IE11

### Description

Syntax error in IE11 when using the current version of sindresorhus/fnv1a

### How to reproduce

Load a page in IE11 that utilizes this library

### Suggested solution (optional)

Upgrade sindresorhus/fnv1a to 2.0.0

[2020-03-18 21:02] chughes87 commented on #476
@all-contributors please add chughes87 for contributions

[2020-03-18 21:04] chughes87 commented on #476
@all-contributors please add chughes87 for Code

[2020-03-18 21:23] mcollina commented on #476
Would you like to send a PR?

[2020-03-18 23:00] bmullan91 commented on #476
@chughes87 Can you provide a codesandbox as an example. I've already looked into this (and resolved it) in https://github.com/nearform/graphql-hooks/pull/445.

[2020-03-19 00:17] chughes87 commented on #476
I'd like to put a PR up. see https://github.com/nearform/graphql-hooks/pull/477

[2020-03-19 07:30] bmullan91 commented on #476
@chughes87 got for it! The process is to open the contribution PR after the actual contribution 😄

[2020-03-23 12:27] thomheymann commented on #476
I can't reproduce this. The cra example in the repo which uses `graphql-hooks-memcache` package works fine in IE11: https://graphql-hooks-cra.netlify.com/

What is the exact syntax error you're getting?
Are you transpiling your app using babel for IE11 support? It's expected that modern syntax will not work in older browsers without transpiling code down to ES5

[2020-03-23 16:10] chughes87 commented on #476
I've started transpiling select module imports for IE support. I guess it's a big ask for all modules to be es5 compatible.

[2020-03-23 16:10] #476 closed

[2020-04-03 07:31] brookback opened #489 "Different updateData behaviour depending on variables"
### Description

We've got a traditional "infinite loading" pagination as described in the README, with a custom `updateData` function which appends new recordings as they come in. Everything is controlled with a `skipCount` state hook variable.

That works great, but when we're manipulating other *other* variables, such as a filter, the same `updateData` will be used and causes incorrect behaviou

[2020-04-03 10:40] bmullan91 commented on #489
@brookback stupid question: have you tried conditionally passing in the `updateData`? If so how does that break things? 😆

[code]

[2020-04-06 14:15] brookback commented on #489
@bmullan91 Not stupid, haha :) It'll work when `skipCount` is zero, but as soon as I load more items (`skipCount > 0`), that `updateData` function will be used also for subsequent changes to `someFilter`.

It breaks by React complaining about identical keys:

[code]

[2020-04-07 07:06] brookback commented on #489
I introduced some arbitrary rules in my listing to circumvent bugs here:

1. Setting filter and skip count is done in a single `setState`.
2. Switching filters automatically sets `skipCount` to zero.
3. Setting skip count doesn't affect filters.
4. Setting skip will use a paginated `updateData`.

2) effectively "resets" everything, which is an okay tradeoff.

[code]

***

So. The core issue has a

[2020-04-14 10:20] debugpai opened #491 "Typo in GraphQLClient typo in index.d.ts?"
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: 4.4.4
- `react` version: N/A
- Browser: n/a

### Description
In [this line](https://github.com/nearform/graphql-hooks/blob/master/packages/graphql-hooks/index.d.ts#L177) the type for `client` is defined as `GraphqlClient` which is not available in the file. There is however a `GraphQLClient`. Does this need to be changed? I

[2020-04-23 03:28] heymartinadams opened #492 "Cache not working?"
### Environment

`graphql-hooks@4.4.4`
`graphql-hooks-memcache@1.3.2`
`preact@10.4.0` (not react). ← could this be the reason?
Browser: Chrome 81.0

### Description

For some reason, cache isn’t working.

### How to reproduce

#### index.js

[code]

#### App.js

[code]

`cacheHit` remains `false` even if the user resets all variables to their default state. For example, on load, filter is `{}`. Us

[2020-04-27 19:40] yanickrochon opened #494 "Ability to reset the data after useMutation"
### Description

When `useMutation` returns data, there should be a way to clear that data away as if no calls have been made, that is return the state of the hook to the one it was before invoking the mutation function.

### Suggested implementation

[code]

Calling `reset` would clear `data` and `error` and cancel any ongoing request.

[2020-04-27 20:42] mcollina commented on #494
would you like to send aPR?

[2020-04-28 22:10] InsaneViku opened #496 "graphql-hooks-memcache@1.3.2 causes a runtime SyntaxError in Safari"
### Package

`graphql-hooks-memcache`

### Environment

- `graphql-hooks` version: 4.4.4
- `graphql-hooks-memcache` version: 1.3.2
- Browser: Safari

### Description

When loading a site with a js bundle that includes `graphql-hooks-memcache@1.3.2` in Safari, I encounter the following runtime error as the browser parses/evaluates the bundle:

`SyntaxError: No identifiers allowed directly after num

[2020-04-29 14:44] InsaneViku commented on #496
A **workaround** that I used for my current project was to downgrade `graphql-hooks-memcache` to `1.3.1`, so the state of the project is not impacted. Looking at https://github.com/nearform/graphql-hooks/commits/master/packages/graphql-hooks-memcache, considering that `1.3.2` was released with just the `@sindresorhus/fnv1a` major version bump to `2.0.0`, there is no loss of added functionality, fe

[2020-05-05 05:17] miliu99 commented on #496
Ok, I ran into this problem for a while and today I took time to find the root cause, and it pinpoints to this package, so I found this post.

It it strange that I initially had this problem with version ^1.3.1, then upgraded to the latest version 1.3.2 in hoping it fixes it, but it didn't. After seeing this post, however, I downgraded to ^1.3.1 and it works -- really weird.

Another interesting f

[2020-05-05 08:32] bmullan91 commented on #492
@heymartinadams Do not rely on `cacheHit` see https://github.com/nearform/graphql-hooks/issues/428 check if the actual network request is made.

If you're still seeing this issue could you create a codesandbox - there's a good chance has something todo with preact !== react 😅

[2020-05-05 08:36] bmullan91 commented on #491
@debugpai looks like it, PRs welcome :)

[2020-05-06 18:38] InsaneViku commented on #496
@mcollina, @bmullan91, and other maintainers - were you able to look at this issue? It's an important browser support related issue, as it breaks Safari and IE. Per https://github.com/nearform/graphql-hooks#support, both should be supported at this time.

[2020-05-08 18:20] movila commented on #496
the owner of [@sindresorhus/fnv1a](https://github.com/sindresorhus/fnv1a) points out [that](https://github.com/sindresorhus/fnv1a/issues/10)

[2020-05-08 20:07] heymartinadams commented on #492
Sounds good. Thanks 🙏

[2020-05-08 20:07] #492 closed

[2020-05-11 11:46] jh3y commented on #444
Where should we go with this one?

Seems like the `Suggested solution` is one we should merge in 👍

However, we don't have a `CHANGELOG`? or release notes? To communicate a breaking change like this.

[2020-05-11 11:48] jh3y commented on #491
Were you able to put together this change @debugpai? Else, I can self-assign and make the change 👍

[2020-05-11 12:12] jh3y commented on #494
Have you begun working on a solution for this @yanickrochon?
Can we assign this to you? 👍

[2020-05-11 12:23] yanickrochon commented on #494
@jh3y  Because of time constraint, I have switched to Apollo server and client for this project. I'm already way behind on schedule and I'm unable to allocate on more at the moment. I have taken the time to look at the code and believe that simply wrapping a function with a reset state (the feature is already there) to revert using the previous context would be a good starting point, but this woul

[2020-05-11 12:43] brookback commented on #444
@jh3y There is a changelog in https://github.com/nearform/graphql-hooks/blob/master/packages/graphql-hooks/CHANGELOG.md.

However, if this repo is following semantic versioning (which I think it is), the major version must be bumped from `5.x.x`.

[2020-05-11 13:10] jh3y commented on #494
Completely understandable @yanickrochon 🙂
Thanks for the prompt response!

[2020-05-11 13:36] debugpai commented on #491
Hey sorry I didn't pick this up yet. I will work on it this week

[2020-05-11 13:36] jh3y commented on #444
Sorry, my bad, I did see that after writing this 🤦
I'd initially looked at release notes and must've missed it 😅

Yeah, a major bump sounds like the right way forward here 👍 Thanks!

[2020-05-11 13:38] jh3y commented on #491
No problem 👍 I've assigned you so people know.

[2020-05-12 20:14] #496 closed

[2020-05-12 20:22] InsaneViku commented on #496
Thank you @galmail, fix looks great!

[2020-05-21 09:18] galmail commented on #325
@mcollina for https://github.com/probot/semantic-pull-requests I will need access

[2020-05-21 09:36] mcollina commented on #325
Enabled.

[2020-05-21 15:13] #434 closed

[2020-05-21 15:14] #494 closed

[2020-05-25 09:32] #325 closed

[2020-05-27 15:54] #491 closed

[2020-05-28 08:58] #327 closed

[2020-06-01 07:33] galmail commented on #355
Closing this as there is some doc already in the readme

[2020-06-01 07:33] #355 closed

[2020-06-01 07:55] vladshcherbin opened #517 "Data in useQuery is undefined on first render"
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: 4.4.4
- `react` version: 16.13.1
- Browser: chrome

### Description

Data is `undefined` until it's fetched. Docs say it should be an object. While it's `undefined` it's not possible to use this:

[code]

Using this syntax is convenient when you need to later use variable (users) multiple times - check length, map over it, e

[2020-06-01 18:19] galmail commented on #439
I tried it, although not sure yet what will be the correct solution here, but I realised that if you upgrade  the packages `graphql-hooks, graphql-hooks-ssr, graphql-hooks-memcache` to the latest versions and then also update `useQuery` in `components/post-list.js` like so:

[code]

And for the sake of testing SSR with useQuery, try to comment these lines in `lib/init-graphql.js`:

[code]

[2020-06-04 01:43] vladshcherbin opened #522 "String variable in useMutation is converted to int"
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: 4.4.4
- `react` version: 16.13.1
- Browser: chrome

### Description

When I use variables in `useQuery` and `useMutation`, they behave differently. Here is schema I have:

[code]

**useQuery**: when I perform `permission` query and use string as `id` variable, a wrong type error is received:

[code]

**useMutation**: when I

[2020-06-08 08:45] danwilliams commented on #439
This is now resolved by https://github.com/vercel/next.js/pull/13799 which has been merged.

[2020-06-08 10:47] #439 closed

[2020-06-09 11:24] youhosi opened #528 "Page does not display correctly in Safari (memCache)"
### Package

`graphql-hooks-memcache`

### Environment

- `graphql-hooks` version: 4.4.4
- `graphql-hooks-memcache` version: 1.3.2
- `react` version: 16.13.1
- Browser: Safari 13.1.1

### Description

When starting the page in the browser, a blank page appears and the following error appears in the console:

PS. On the phone in the safari browser and chrome, the website is freeze

[code]

### How

[2020-06-15 16:55] machineghost commented on #324
I'd settle for "do one or the other, but do it consistently!"  Right now I'm getting an error when I try to call the function returned from `useMutation`.  It *does not* return an error object, but an error in the process somehow results in an uncatchable error being thrown (not even my dev tools "pause on exceptions" can catch it!).

Ultimately, if you're going to make "we return the errors as va

[2020-06-15 17:16] machineghost commented on #324
P.S. I just tried the library's **fourth** error handling mechanism (seriously, all I want is one that works).  I added an `onError` property to my `GraphQLClient` instantiation, and ... it failed to catch the error also.

[2020-06-15 17:29] machineghost commented on #324
P.P.S. The ultimate problem wound up being that I was passing a `variables` object that was just `{}` (and that violated god knows what on the server).  But, suffice it to say that it's sub-optimal to take half an hour to track down an empty `variables`, and that a single consistent error handling mechanism (ie. one that works 100% of the time) would have saved me that half hour.

[2020-06-15 17:33] chughes87 commented on #528
This is fixed here I believe: https://github.com/nearform/graphql-hooks/pull/500. We just need to get the most recent changes to be released.

[2020-06-19 15:53] youhosi commented on #528
This [commit](https://github.com/nearform/graphql-hooks/commit/cd4178b53ed20d220fa0e01ba498af6b86bfca35) ❤️ fix a bug in the safari.

[2020-06-19 15:53] #528 closed

[2020-06-22 20:56] medev21 opened #534 "do you have a testing library or feature?"
Trying to do testing with graphql-hooks but don't see much documentation for testing.  Do you have a feature for testing similar to @apollo/react-testing?

[2020-06-23 12:17] mcollina commented on #534
No we don't.. but it would be handy to have! What API should it have?

[2020-06-25 00:55] miliu99 commented on #534
Is this in plan?

[2020-06-26 08:37] lynxtaa commented on #534
You can use https://www.npmjs.com/package/msw for testing.
Related article: https://kentcdodds.com/blog/stop-mocking-fetch

[2020-06-29 13:22] jsgv commented on #428
If `cacheHit` is not dependable for the functionality the README describes, then it should not be exposed as it is.

Or README could be updated with this information.

[2020-06-30 04:11] dohomi commented on #197
@bmullan91 would it not be better to use `print` function of `graphql/language/printer` to parse `gql` in case GQL is passed instead of a string?

[2020-07-14 14:40] wwwebman commented on #212
Any plans on it?

[2020-07-15 11:09] admataz commented on #489
hi @brookback  - just reviewing this issue - is this working satisfactorily for you now?  I'm not sure there's a better/ more elegant solution this library can provide to your workaround at this point

[2020-07-15 12:20] brookback commented on #489
@admataz This is okay! I did the workaround described above. Thanks!

[2020-07-15 12:20] #489 closed

[2020-08-13 12:06] medev21 opened #547 "TypeError: Cannot read property 'useGETForQueries' of undefined"
I'm using graphQL hooks for my project, I'm running into an issue with testing, it renders this error:

`TypeError: Cannot read property 'useGETForQueries' of undefined`

It fails in this line of code that belongs to a search component:

`const [searchManual, { loading: searchLoading, data, error }] = useManualQuery(SEARCH_QUERY);`

By default useGETForQuereies is false, but not sure why this erro

[2020-08-13 13:37] rasovica commented on #547
We are running in the same problem. It also occurs only during tests. But sadly I am not sure what the proper solution is

[2020-08-13 16:19] mcollina commented on #547
We are currently quite busy. If you send a PR we'll be happy to review, otherwise it would have to wait for a bit.

[2020-08-13 17:46] medev21 commented on #534
have you ran into an issue with this error?

[code]

[2020-08-16 18:43] miliu99 opened #548 "Can you call multiple mutations in one component?"
It appears that it messes up if I call two mutations in one component and I'm not quite sure if I did something wrong or if it's not supported. I searched around and found that there is a compose utility in apollo-client. Do I have to use something similar with graphql-hooks?

[2020-08-19 10:02] lynxtaa commented on #534
Hm, no. For me it works OK

[2020-08-23 12:57] gitcatrat opened #550 "Add an option to keep old data while query resolves?"
### Package

- [x] `graphql-hooks`
- [ ] `graphql-hooks-ssr`
- [x] `graphql-hooks-memcache`

### Environment

- `graphql-hooks` version: 4.4.4

- `graphql-hooks-memcache` version: 1.3.3
- `react` version: 16.13.1

### Description

[code]

Current flow:
* If `Filter` inputs or `Map` state is changed
* `Search` reducer is called and reducer state is passed to `useQuery` as variables
* `useQuery` sta

[2020-08-23 13:10] #550 closed, assigned to nobody

[2020-09-16 22:47] vitorboccio commented on #547
Any update on this one ?

[2020-09-17 07:15] mcollina commented on #547
@ovhemert could you take a look?

[2020-09-21 14:53] ovhemert commented on #547
The `undefined` in the error message `TypeError: Cannot read property 'useGETForQueries' of undefined` refers to the client object. When calling the `useQuery` function you can pass in the client object using the options like this:

[code]

If no client is passed into this function, the component relies on the `ClientContext` it is wrapped in:

[code]

It could be, that the component that you are

[2020-09-22 17:26] medev21 commented on #547
Ah I see,I have added the context and it works. Thanks for the detailed clarification!

[2020-09-22 17:26] #547 closed

[2020-09-22 21:58] tadjohnston commented on #387
This seems to have produced a double render bug in this example: https://github.com/vercel/next.js/blob/master/examples/with-graphql-hooks/components/post-list.js

Not sure if I'm missing something, but `state.cacheKey` doesn't ever seem to exist.

[2020-09-22 22:56] tadjohnston opened #566 "SSR state.cacheKey causing double render"
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: 4.5.0
- `graphql-hooks-memcache` version: 1.3.3
- `react` version: 16.13.1
- Browser: Chrome

### Description

A double render is happening when initial state (memcache) has not changed because `state.cacheKey` doesn't ever seemed to be defined.

### How to reproduce

1. Use the example: https://github.com/vercel/next.js/tre

[2020-09-23 09:42] ovhemert commented on #517
The `data` can be `undefined` on first render. This has been adjusted in the types. See #567
Returning it as an object would cause side effects.

[2020-09-23 09:42] #517 closed

[2020-09-23 09:43] #444 closed

[2020-09-30 06:05] stefanoruth opened #568 "Version 5 was never released on npm"
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: 5.0.0

### Description

Seems like the new version was never released even tho the commit for v5 was merged 2 days ago

### How to reproduce

https://www.npmjs.com/package/graphql-hooks

[2020-09-30 06:41] ovhemert commented on #568
They are on npm now.

[2020-09-30 06:41] #568 closed

[2020-10-14 13:16] salmanm commented on #548
If I understand the issue correctly, you're trying to call two mutations in one request. So something like

[code]

I just tried it and found it to be working fine. This is the response I get.

[code]

If you meant something else @miliu99, please post a code snippet and describe the problem in detail.

[2020-10-14 13:16] #548 closed

[2020-10-20 16:11] IskanderMustafin commented on #566
Any update on this? We recently moved from `apollo-client` to `graphql-hooks` to improve performance and get a little bit better LightHouse score, but this double-render problem hurts a lot our score. Especially it is noticible for heavy pages.

We using `graphql-hooks` with `next.js` in SSR mode. I can confirm that statement below is causing double-render:
[code]
Not sure if it usefull informatio

[2020-10-23 14:47] mcollina opened #586 "Move the CI pipeline to Github Actions"
As titled.

[2020-10-24 09:52] deantheiceman opened #589 "loading variable in useSubscription"
Does graphql-hooks have the same loading variable in useSubscriptoin which Apollo has and useQuery?

[2020-10-24 12:25] #589 closed

[2020-10-25 06:57] deantheiceman opened #590 "useSubscription not loading with SSR"
### Package

I'm using useSubscription like this with nextjs. Normally with apollo the subscription will load the data on page load, but with grpahql-hooks its stuck

Am I doing something wrong here?

[code]

[code]

[2020-10-25 07:09] deantheiceman commented on #590
Actually I think the issue may not be related to useSubcriptions, but because there's no skip function. I'd like to skip the query until the router.param has loaded.

Would there be any other ways of doing this or is `skip` required?

[2020-11-02 10:40] salmanm commented on #522
I couldn't reproduce it @vladshcherbin. Here's a quick [codesandbox](https://codesandbox.io/s/modest-gagarin-p3n85?file=/src/App.js).

![image](https://user-images.githubusercontent.com/2510597/97858907-d89b8b80-1d25-11eb-8bc4-62b44aa2e74c.png)

the `id` stays as string `'2'`. If you can post any reproducible link, that'll be helpful.

[2020-11-02 12:24] #522 closed

[2020-11-03 12:05] renovate[bot] opened #598 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2020-11-03 13:11] mcollina commented on #598
@simoneb ptal

[2020-11-03 14:32] renovate[bot] opened #601 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Ignored or Blocked

These are blocked by an existing closed PR and will not be recreated unless you click a checkbox below.

 - [ ] [chore(deps): update dependency lerna to v4](../pull/625)

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2020-11-03 17:56] mcollina commented on #601
@simoneb please make this not happen again :)

[2020-11-03 17:59] simoneb commented on #601
@mcollina what exactly? this is a feature I enabled by setting this option in order to have an issue showing the pending updates, which provides a comprehensive overview. currently there are none. if you want to disable it, it's as simple as removing this line:

https://github.com/nearform/graphql-hooks/blob/7713e1a53f817ec5cf66e40d55797a86fe73ec02/renovate.json#L7

[2020-11-03 18:17] mcollina commented on #601
Is it keeping it open or opening a new one?

[2020-11-03 18:25] simoneb commented on #601
I will always be open and updated to reflect the status of the updates. It will show if there are open PRs, pending awaiting for status checks and so on. It's basically a long-running issue which will always be open and updated automatically by Renovate.

[2020-11-03 18:54] mcollina commented on #601
ok!

[2020-11-04 15:40] #590 closed

[2020-11-05 14:28] salmanm opened #604 "State management issues"
### Package

`graphql-hooks`

### Description

useClientRequest has a buggy behaviour for a specific case. When variables change, the loading state is not reflected immediately. Instead, it does in the next render pass. For example

[code]

This prints the following log

[code]

This simply happens because the change in variables is [acted upon in a useEffect](https://github.com/nearform/graphql-h

[2020-11-06 10:26] silawrenc commented on #604
I think this analysis is spot on 👍 . It might be worth taking a look at how e.g. https://github.com/vercel/swr or https://github.com/tannerlinsley/react-query tackle the same problem.

[2020-11-19 11:10] evenfrost opened #605 "Usage with graphql-ws"
### Description

Would be great if the library could be used with [`graphql-ws`](https://github.com/enisdenjo/graphql-ws), which is GraphQL over WebSocket implementation.

### Suggested implementation

Current `GraphQLClient` implementation uses fetch, which requires `url` param to be HTTP(S) requests. A possible implementation is the ability to use ws(s) protocol here as well.

[2020-11-19 15:49] mcollina commented on #605
This sounds great! Would you like to send a Pull Request to address this issue?

[2020-12-02 13:24] #586 closed

[2020-12-10 13:34] samkelleher opened #608 "[memcache] Buffer is not defined (in browser)"
### Package

`graphql-hooks-memcache`

### Environment

- `graphql-hooks` version: 5.0.0
- `graphql-hooks-memcache` 2.0.0
- `react`: 16.13.1
- `Browser`: Chrome 88

### Description

[code]

### How to reproduce

Simply having the memcache library in the page causes the error. I didn't see any note that the library is Node only, is it?

[code]

[2020-12-10 13:47] simoneb commented on #608
@samkelleher Have you tried using a polyfill for Buffer?

[2020-12-14 15:55] mcollina commented on #608
Are you using Webpack 5? @simoneb I think we should do a spike on how to use with Webpack 5.

[2020-12-14 21:10] simoneb commented on #608
@mcollina good point, webpack5 apparently doesn't polyfill some Node globals automatically anymore, therefore the fnv1a lib we're using won't work unless Buffer is polyfilled manually or we use a different approach altogether.

[2020-12-16 12:25] samkelleher commented on #608
I see yes indeed I am using Webpack 5.

To resolve this, I installed "buffer", and then in the browser webpack config added

[code]

to the configs `plugins`, which adds the pollyfill. Once I did this, memcache worked normally.

I'll leave this ticket open as I think it would be helpful to either auto-bundle a Buffer pollyfill (if needed) in a browser build (if you make one), or at least, add a li

[2020-12-16 12:28] simoneb commented on #608
Thanks for the update. To be clear, it's a webpack 5 change which presumably broke many projects, you can find it in the migration guide.

[2020-12-16 12:32] mcollina commented on #608
I think we could migrate from Buffer to TypedArrays here, there is no real need to use buffer.

[2020-12-16 12:50] simoneb commented on #608
Buffer is used in fnv1a, which is https://github.com/sindresorhus/fnv1a. Not sure why we imported the code in this repo though

[2020-12-16 16:04] mcollina commented on #608
It's forked to add some different feature. We can just remove Buffer completely

[2020-12-16 21:54] #608 closed

[2020-12-29 22:08] jgolden17 opened #610 "Support for micro-frontend architecture with create-shared-react-context"
### Description

When using `graphql-hooks` in a micro-frontend application, developers have to provide the `ClientContext` to all [child modules](https://github.com/americanexpress/one-app/blob/main/docs/api/README.md) that use this package.  Using [create-shared-react-context](https://github.com/americanexpress/create-shared-react-context) to [create the ClientContext](https://github.com/nearfor

[2020-12-29 22:54] simoneb commented on #610
I don't see much value in introducing a dependency on a module which is no more than 10 lines of code and which could easily be implemented at the application level if you need use this library in such a scenario. Besides, that approach is not even the universally right way to build micro frontends. Why should this library force users to rely on a memoized context in the first place? That's just o

[2020-12-30 15:31] simoneb commented on #534
@medev21 what are you trying to test?

If it's components using the hooks you're unit testing, I recommend mocking the hook in the standard ways via a mocking library like sinon or a testing framework which supports mocks, like Jest.

Otherwise, you may want to mock the fetch implementation used by this library or the GraphQL API being used by the hooks.

[2020-12-30 15:36] simoneb commented on #324
Have you tried using the [`onError` handler](https://github.com/nearform/graphql-hooks#graphqlclient)? We're using a similar approach [here](https://github.com/nearform/brokeneck/blob/master/packages/brokeneck-react/src/hooks/useGraphQLClient.js) (you'll have to browse around the codebase a bit to see how it works exactly) and though not supported by the library out of the box there is a way to do

[2021-01-04 14:25] stefanoruth opened #611 "New release of graphql-hooks-memcache"
Hi thanks for this set of packages, we really like it and use it on multiple projects 😄

If posible would you be so kind to make a new release of `graphql-hooks-memcache`

Its because of this latest pr merged which fixes the buffer issue https://github.com/nearform/graphql-hooks/pull/609 with webpack 5, this would make us able to remove the hacks we have to make this work.

[2021-01-04 15:55] simoneb commented on #611
released graphql-hooks-memcache 2.1.0

[2021-01-04 15:55] #611 closed

[2021-01-05 09:14] #610 closed

[2021-01-05 09:14] simoneb opened #612 "Include repository and homepage fields in nested packages package.json files"
So that there's a link back to the repo when they're published to npm. See for example: https://www.npmjs.com/package/babel-plugin-extract-gql

[2021-01-05 09:31] simoneb opened #613 "Migrate builds to Node LTS"
Make sure to update the branch protection rules to request the new build instead of the old one as the requirement for merging PRs. If you don't have privileges to do so, ask an owner of the repo before merging your PR

[2021-01-21 14:48] #598 closed

[2021-02-04 16:18] #612 closed

[2021-02-08 11:23] akashkrishnan98 commented on #400
How do I mock data for child components while testing the parent component?

Eg:
[code]

[2021-02-08 11:35] simoneb commented on #400
I would mock UserAvatar. If you're testing User in a unit test, it's a good idea to mock what its dependencies do. If you want to test User and UserAvatar together, then you'll need to mock useQuery.

[2021-02-08 12:53] akashkrishnan98 commented on #400
Let me rephrase my question:

I have multiple graphql queries for <User />.
How do I execute these? How can I specifically mock each query within the same component?

[2021-02-08 12:54] simoneb commented on #400
You rely on your mocking library to change its behavior depending on the query that's being executed.

[2021-02-08 21:09] gauravverma029 opened #617 "Getting "status: 502, statusText: 'Bad Gateway'"
### Package

Version
"graphql-hooks": "^5.0.0",
"graphql-hooks-memcache": "^2.0.0",
 "next": "^10.0.1",
 "react": "^16.13.1",

### Description

When are we coming on the page after a few min then try to load the page then we are getting this error?

No Idea about it because of operation name, persisted undefined.

[code]

### Suggested solution (optional)

[2021-02-08 21:16] #617 closed

[2021-02-10 18:15] #613 closed

[2021-02-16 04:16] WayneEllery opened #620 "Fetch polyfill required even when ssr is configured false"
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: `4.0.0`

### Description

Currently if the Client is created on the server without a fetch polyfill it results in error. This happens even when `config.ssr` is `false`. This is an issue with universal code as it means that if the same code that runs on the server it will fail even if a graphql request isn't made.

[code]

##

[2021-02-17 14:32] #620 closed

[2021-04-20 07:52] flavienrako opened #628 "How to implement Directus and Next js withe Graphql Hooks"
I'm working with directus cms, these CMS have two URLs for GraphQL, the "/graphql" and "/graphql/system" (principally for auth). My question is: How can I implement a multiple client to handle this case?

[2021-05-20 09:21] simoneb commented on #628
There isn't an off the shelf way to do that because the `ClientContext` can only contain a single client, and the url of the GraphQL API is defined at the client level.

There is a workaround that you can use though. You can create 2 clients configured accordingly to hit your 2 different APIs, then use one as the main client in your application which you link to the `ClientContext`. To use the sec

[2021-05-20 09:32] simoneb commented on #628
@flavienrako see the explanation above. Because of the nature of context and the fact that the hooks which use the client need to know which client to use, there isn't a straightforward solution to this which we can build into the library itself. Unless you want to propose a solution I'm going to close this issue.

[2021-05-28 08:53] github-actions[bot] opened #641 "Release pending!"
### Pending commits since release [graphql-hooks@4.0.0](https://github.com/nearform/graphql-hooks/releases/tag/graphql-hooks%404.0.0)
Unreleased commits have been found which are pending release, please publish the
changes.

  * [adfda43](https://github.com/nearform/graphql-hooks/commit/adfda434dcd2a8f755afd41a51242c3129e32be5)
  fix: setup gcloud action version
  * [a692d5f](https://github.com/ne

[2021-05-29 10:44] #641 closed

[2021-05-31 09:46] simoneb commented on #628
Closing as stale and not something that can be provided off the shelf. It has a solution in user land.

[2021-05-31 09:46] #628 closed

[2021-06-11 19:46] jampy commented on #154
I think the requested feature would be very useful in certain situations.

A slightly modified example:

[code]

...with <EditUserForm> being some sort of form that allows entering user details.

Needing to resort to `useManualQuery()` forces to recreate parts of `graphql-hooks` IMHO, while I think it would be trivial to implement in `useQuery()` itself..

Let me know ifi you see a better way to i

[2021-06-13 20:53] YuriFontella commented on #324
Hello, taking this issue for a doubt.

The same way I can catch the error that comes from the server through the onError in the instance...

[code]

can I see this error through the context using the useContext?

[code]

Hello, taking this issue for a doubt.

The same way I can catch the error that comes from the server through the onError in the instance, can I see this error through the context

[2021-06-13 20:54] YuriFontella commented on #324
Hello, taking this issue for a doubt.

The same way I can catch the error that comes from the server through the onError in the instance...

[code]

can I see this error through the context using the useContext?

[code]

I didn't understand the real use of `client.logErrorResult`, if it's just to create a custom error or if it really brings the errors of the client instance.

If you can show an ex

[2021-06-16 08:38] github-actions[bot] opened #651 "Release pending!"
### Pending commits since release [subscription@2.1.3](https://github.com/nearform/graphql-hooks/releases/tag/subscription%402.1.3)

Unreleased commits have been found which are pending release, please publish the changes.

  * [ea8d886](https://github.com/nearform/graphql-hooks/commit/ea8d88614e7c9e3c401f71e191eb4ff08681f884) feat: support &#x60;graphql-ws&#x60; (#649)
  * [ae507bf](https://githu

[2021-06-16 16:49] #605 closed

[2021-06-17 07:45] #651 closed

[2021-06-20 20:22] matepaiva commented on #27
Hey, is there any possible timeframe for the fragment documentation? I can't help because I have never used graphql-hooks. Actually I am considering migrating from relay to here, but I don't know if it is a good Idea, mainly because of how relay deals with fragments.

[2021-06-21 14:57] simoneb commented on #27
When this issue was created, fragments were probably not as common as they are now. I don't think we need docs for that as there is nothing special that this library is going to support fragments, they are simply part of GraphQL and hence available in any implementation. I'm going to close this issue.

[2021-06-21 14:57] #27 closed

[2021-06-21 19:30] matepaiva commented on #27
Fair enough :)

[2021-06-25 08:36] github-actions[bot] opened #655 "Release pending!"
### Pending commits since release [babel-plugin-extract-gql@2.1.3](https://github.com/nearform/graphql-hooks/releases/tag/babel-plugin-extract-gql%402.1.3)

Unreleased commits have been found which are pending release, please publish the changes.

  * [42c20dc](https://github.com/nearform/graphql-hooks/commit/42c20dc57deedc9e86ad02d106a35e172bc375ab) build: fix ci build (#662)
  * [00e76b9](https:

[2021-07-26 12:04] matepaiva opened #661 "Support for fragments in persisted queries (babel-plugin-extract-gql)"
### Description

The query below should work, persisting the query with the fragment to the local disk. But it's generating the query without the fragments.

[code]

### Suggested implementation

I don't know how to implement it, as I have never done a babel plugin. I am willing to contribute, but I need some guidance.

[2021-07-29 15:06] clemarc commented on #661
I had a look and the issue isn't really with the fragment but with the interpolation, the plugin is explicitly ignoring dynamic strings.

https://github.com/nearform/graphql-hooks/blob/00e76b9c12537958cc55e35f7ce44d518ceaa19b/packages/babel-plugin-extract-gql/src/index.js#L35

If you put the fragment inline then it works.
[code]

You are losing the reusability of fragment by doing so but I'm not s

[2021-07-29 17:08] matepaiva commented on #661
I ended up writing my own plugin based on this one and injecting the fragments at build time. My approach was:

1. I wrapped my fragments in a template string like
[code]
2. So the plugin also saves the value of the fragment to the json file.
3. I created a script to send the query hash dictionary to the server. In that script, I inject the used fragments using my stored fragments.
4. That's all,

[2021-07-30 08:48] clemarc commented on #661
@matepaiva That sounds like a good workaround until there's a better way to declare and handle fragments.

Closing the issue.

[2021-07-30 08:48] #661 closed

[2021-08-02 20:45] #154 closed

[2021-08-03 08:41] #655 closed

[2021-08-03 14:33] simoneb commented on #324
@capaj @machineghost @YuriFontella I've created a first working implementation for this feature. I would appreciate your feedback before going forward with it.

#665

[2021-08-04 09:53] #324 closed

[2021-08-11 01:47] #566 closed

[2021-08-11 01:47] #427 closed

[2021-08-11 01:47] #534 closed

[2021-08-11 01:47] #363 closed

[2021-08-11 01:47] #333 closed

[2021-08-11 01:47] #334 closed

[2021-08-11 01:47] #219 closed

[2021-08-12 01:47] #172 closed

[2021-08-12 01:47] #151 closed

[2021-08-12 01:47] #138 closed

[2021-08-12 08:40] github-actions[bot] opened #669 "Release pending!"
### Pending commits since release [create-react-app@2.3.0](https://github.com/nearform/graphql-hooks/releases/tag/create-react-app%402.3.0)

Unreleased commits have been found which are pending release, please publish the changes.

  * [8437f75](https://github.com/nearform/graphql-hooks/commit/8437f7529612490ea3617242bfaa3fb6fea65711) chore(deps): bump actions/setup-node from 2.3.2 to 2.4.0 (#668)

[2021-08-19 10:03] salmanm commented on #52
This isn't resolved/intentionally closed it seems, so reopening.

[2021-08-21 10:06] simoneb commented on #52
@salmanm this was closed automatically by the stale action we introduced a short while ago to begin shrinking down the list of open issues and PRs which didn't receive any activity in a long time.

There is a chance the stale action will close this again if there is no activity, but let's keep an eye on it. Thanks for spotting it.

[2021-09-23 16:33] #601 closed

[2021-09-30 13:35] leorossi opened #673 "Cannot deploy and run on GCP with GH Workflow"
### Package

`graphql-hooks`

### Description

Github action is failing.

### How to reproduce

Run the `Mock GraphQL Server on GCP` workflow ([example](https://github.com/nearform/graphql-hooks/actions/runs/1285793645))

### Suggested solution (optional)

Waiting for this PR to be merged https://github.com/marmelab/json-graphql-server/pull/130

[2021-10-11 15:13] brainrepo commented on #673
closed by https://github.com/nearform/graphql-hooks/pull/675.

[2021-10-19 15:26] will-stone opened #677 "`saveCache` missing from `GraphQLClient` type definition"
Firstly, thank you very much for this package. We're currently evaluating it as an alternative to Apollo.

### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: 5.4.0
- `react` version: N/A
- Browser: N/A

### Description

The `saveCache` method is missing from the `GraphQLClient` type definition. The following error is produced when using TypeScript:

<img width="754" alt="ima

[2021-10-20 12:58] will-stone commented on #677
Looking good

<img width="1028" alt="image" src="https://user-images.githubusercontent.com/654103/138097410-5fb45d92-16b6-45f4-a037-598898cf9b1e.png">

Thank you.

[2021-10-20 12:58] #677 closed

[2021-10-28 08:37] github-actions[bot] opened #679 "Release pending!"
### Pending commits since release [graphql-hooks@5.4.1](https://github.com/nearform/graphql-hooks/releases/tag/graphql-hooks%405.4.1)

Unreleased commits have been found which are pending release, please publish the changes.

  * [b6aefbe](https://github.com/nearform/graphql-hooks/commit/b6aefbe078908a0887f5f6a084318ce115089757) chore(deps): bump actions/checkout from 2.3.4 to 2.4.0 (#680)
  * [50

[2021-11-05 18:51] bitjson opened #681 "`Error: WebSocket implementation missing`, even with `ssrMode` disabled"
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: `5.4.1`
- `graphql-ws` version: `5.5.5`
- `react` version: `17.0.2`

### Description

When using `graphql-hooks`+`graphql-ws` in a new Next.js app, `graphql-ws` emits the error `Error: WebSocket implementation missing` during server-side rendering, even when `ssrMode` is disabled:

[code]

I'm currently using this as a worka

[2021-11-08 17:22] bitjson opened #682 "Errors are silently ignored in `useSubscription`"
### Package

`graphql-hooks`

### Description

The `useSubscription` hook silently ignores any received errors:

https://github.com/nearform/graphql-hooks/blob/b7ff57d30fa9894162e7145bc5a5ad98e0561f0b/packages/graphql-hooks/src/useSubscription.js#L20-L31

It looks like this was discussed in https://github.com/nearform/graphql-hooks/pull/649: @simoneb or @enisdenjo, did either of you have a prefere

[2021-11-08 19:16] bitjson commented on #682
Ok, I was unsure about error handling because of [a bug in Hasura's implementation of the `graphql-ws` protocol](https://github.com/hasura/graphql-engine/issues/7786). With that tracked down, I think the error handling strategy from the readme is still probably the right API, so I implemented it and fixed the tests in PR https://github.com/nearform/graphql-hooks/pull/683. Reviews appreciated!

[2021-11-09 11:17] francelwebdev opened #684 "Can you use this package with a vuejs application? or is it only for react?"
Hello, can you use this package with a vuejs application? or is it only for react?

[2021-11-09 11:27] enisdenjo commented on #682
I am not an user of `graphql-hooks` and therefore have no preference. I left the TODO comment because errors are **important**, the lib's maintainers should take them into count.

The error can be literally _anything_. I pushed https://github.com/enisdenjo/graphql-ws/commit/216075510ad7ecbe2fdd4ba6fe578a668ae38fe3 because the conditionals ordering was wrong and that lead to matching problems - if

[2021-11-09 11:59] simoneb commented on #684
This library is implemented with React Hooks, so it's React only. There are certainly equally valid alternatives in the Vue space!

[2021-11-09 11:59] #684 closed

[2021-11-09 13:44] francelwebdev commented on #684
ok thanks.

[2021-11-09 18:37] takeitforwardsolutions opened #685 "type error u is null with PreAct"
- [ x] `graphql-hooks`

### Environment

- `graphql-hooks` version: 5.4.1
- `react` version:  "preact": "^10.3.1",
- Browser: FireFox

### Description
On button click trying trigger mutation, but I get error type error u is null. Please any assistance, Apollo client worked with preact but I would prefer not to use that bloated package.

stack trace:
T index.js:231
    useClientRequest graphql-hook

[2021-11-09 18:40] takeitforwardsolutions commented on #685
Same in other browsers, its reporting context as null.

Uncaught TypeError: Cannot read properties of null (reading 'context')
    at Object.T [as useContext] (index.js?a178:231)
    at useClientRequest (graphql-hooks.js?9271:436)
    at useMutation (graphql-hooks.js?9271:675)
    at moveStepper (index.tsx?d4e3:32)
    at Object.onClick [as clickfalse] (index.tsx?d4e3:71)
    at HTMLButtonElement.

[2021-11-09 22:25] takeitforwardsolutions commented on #685
Disregard, closing the issue it was user error. Grabbed some lunch and came back, reviewed it and discovered design flaw in one of my internal hooks.

[2021-11-09 22:25] #685 closed

[2021-11-11 11:46] allforabit commented on #681
From my understanding the api for graphql hooks would need to be slightly extended to support this use case. The `subscriptionClient` could accept a factory function that would be called conditionally similarly to how your workaround works. So the code would be:

[code]

[2021-11-12 10:01] #682 closed

[2021-11-20 12:39] simoneb commented on #52
Closed by #686

[2021-11-20 12:39] #52 closed

[2021-11-21 08:36] #679 closed

[2021-11-28 08:36] github-actions[bot] opened #715 "Release pending!"
### Pending commits since release [graphql-hooks@5.5.0](https://github.com/nearform/graphql-hooks/releases/tag/graphql-hooks%405.5.0)

Unreleased commits have been found which are pending release, please publish the changes.

  * [cc30336](https://github.com/nearform/graphql-hooks/commit/cc303364db5534c301fece0327614cb3e94f7997) feat: add tsd tests (#756)
  * [453c9b2](https://github.com/nearform/

[2021-11-29 09:33] ja-bravo opened #716 "Move examples to ESM"
### Package

Examples

### Description

I'd be great to move all examples to ESM now that the subscription example had to be moved as mentioned in https://github.com/nearform/graphql-hooks/issues/712#issuecomment-980007063

[2021-11-29 15:23] #716 closed

[2021-11-30 09:00] Eomm opened #719 "New community link"
### Description

Spectrum is read-only now

https://spectrum.chat/spectrum/general/join-us-on-our-new-journey~e4ca0386-f15c-4ba8-8184-21cf5fa39cf5

We should drop it because it is the first badge after the title.
I think we could turn on GitHub discussions as a replacement.

[2021-11-30 10:46] Eomm opened #720 "Netlify build fails"
The netflify app, that deploys the `master` branch on the demo site: https://graphql-hooks-cra.netlify.app/ is not working good.

Let's check this commit id 13abf12 as an example:

- build triggered by GH https://app.netlify.com/sites/graphql-hooks-cra/deploys/61a54d34af780b000742f59f
- build rerun manually by pressing `clean cache and deploy` https://app.netlify.com/sites/graphql-hooks-cra/deploy

[2021-11-30 13:36] #720 closed

[2021-12-09 13:12] radomird commented on #719
To turn on GitHub discussions for this repo you need admin rights to access "Settings" here is a link that explains the steps on how to enable it: https://docs.github.com/en/discussions/quickstart#enabling-github-discussions-on-your-repository

I will create a PR that removes the Spectrum badge.

[2021-12-09 14:25] #719 closed

[2021-12-13 16:00] zanettin opened #729 "Response headers"
Hi 👋

First of all - thanks a lot for this neat pice of OSS 🙏

### Description
The current implementation does "just" return the fetched data or errors from the fetch itself. We would be interested in the response headers since we have to forward the cache-tags to the SSR generated pages so we can cache and purge it properly on our CDN.

### Suggested implementation
Just checked the src code of th

[2021-12-15 11:28] gdorsi opened #734 "The build job is failing due the "typescript-examples" build"
I have altready tried to:
- [invalidate the cache](https://github.com/nearform/graphql-hooks/actions/runs/1582359549)
- [downgrade typescript](https://github.com/nearform/graphql-hooks/actions/runs/1582423484)
- [disable eslint](https://github.com/nearform/graphql-hooks/runs/4533184131?check_suite_focus=true)

nothing worked

[2021-12-15 11:31] simoneb commented on #734
does it fail locally as well?

[2021-12-15 12:09] gdorsi commented on #734
Yes, when the npm install is performed with with node 16.13.1 (and npm 8.1.2)

[2021-12-15 12:17] simoneb commented on #734
interesting, I wouldn't have really expected this to be affected by the node version!

[2021-12-15 16:14] gdorsi opened #735 "The "typescript-examples" build breaks when the deps are installed with npm ^8.1.2 (node ^16.13.1)"
The error is `Cannot read properties of undefined (reading 'includes')` and is generated by `mini-css-webpack-plugin`

[2021-12-15 16:18] #734 closed

[2021-12-21 12:20] #729 closed

[2021-12-21 15:41] simoneb opened #741 "Add tests for Typescript types"
This would make us more confident when someone changes the type definitions and also we would learn something more on automated testing on Typescript types

[2021-12-21 15:43] gdorsi opened #742 "Add some tests for the TS typings declarations"
### Description

We don't have so much control on the TS types correctness

Would be nice to add unit tests on the types definitions

### Suggested implementation

We could try with https://github.com/SamVerschueren/tsd/

[2021-12-21 15:45] gdorsi commented on #742
this is a duplicate of #741

[2021-12-21 15:45] #742 closed

[2021-12-21 15:54] simoneb commented on #741
we should use tsd for this

[2021-12-22 11:02] chrisfrancis27 commented on #400
In case anyone else stumbles across this, here's a very basic example of return different mock data depending on the query:
[code]

[2021-12-23 15:41] gdorsi opened #746 "Add a Testing section in the docs"
### Description

I think it would be very useful for newcomers to have a testing section where we give some examples of how to write good tests for applications based on graphql-hooks

### Suggested implementation

[MSW](https://mswjs.io/docs/getting-started/mocks/graphql-api) is a great mocking tool, I think that an example made with it and [react-testing-library](https://testing-library.com/docs

[2021-12-23 16:05] CarleneCannon-Conner opened #747 "GraphQL: Expose custom directives in introspection API"
The GraphQL spec does not allow introspecting custom directives. This feature was requested [here](https://github.com/graphql/graphql-spec/issues/300).
In the comments, somebody who works on the .NET implementation [mentioned](https://github.com/graphql/graphql-spec/issues/300#issuecomment-771177102) that they have implemented it, and looking at their commit history it seems it's been implemented

[2021-12-23 16:06] #747 closed

[2021-12-28 09:49] gdorsi commented on #746
We may try to go further and implement a `MockClient` that would mock the GraphQL queries in the same way of MSW.

The advantages would be:
- There would be no difference between environments, the same code would work both on the browser and node
- The boilerplate necessary to setup the mocks would be far lesser
- No global pollution, the mocks would happen entirely inside the client and no global

[2021-12-29 08:54] bohrsty opened #753 "Uncaught TypeError: client.getCacheKey is not a function"
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: 5.5.0
- `react` version: 17.0.1

### Description

My environment uses expo (and react-native) to create the app, this issue is currently only from `expo-web`...

I try to use `graphql-hooks` like shown in the docs:
- creating a client with url parameter
- attaching it to context provider
- using `useQuery` to query informati

[2021-12-29 14:11] bohrsty commented on #753
sorry, for disturbing you, there was a promise in my code retrieving the url, so while mounting my component, there was no usable  client and the message was correct... some debugging through your and my code brought me to the error...

thanks for your work with this library!

[2021-12-29 14:11] #753 closed

[2021-12-29 21:38] #681 closed

[2021-12-31 16:08] #741 closed

[2022-01-04 10:44] zanettin opened #759 "RFC: Support for Automatic Persisted Queries (APQ)"
### Description

We offer currently a persisting method thanks to @salmanm's [PR](https://github.com/nearform/graphql-hooks/pull/493). with this method we create the hashes on build time and they need to be available on the backend as well. with the automatic approach the client would hash the query on request and sends it to the server. if the server already has a cached response for this hash, i

[2022-01-04 23:04] simoneb commented on #759
Hi @zanettin, before getting into the details of this request there's one thing I would like to clarify. You mention

Are we talking about persisted queries as a caching mechanism or am I not understanding this right?

[2022-01-05 06:13] zanettin commented on #759
Hi @simoneb

Sorry that I was not clear about that point. It's not caching related but eliminates the step of persisting the queries at build time. As visualized on the sequence diagram above the client sends always just an sha256 hash to the graphql server. if the server knows the hash, he translates it to the real query and executes it. if the server is not aware of that hash since he never had

[2022-01-05 07:35] simoneb commented on #759
Thanks for clarifying. Can you explain what is the benefit of doing so? Persisted queries are (to the best of my understanding) a security mechanism which prevents clients from sending queries outside of those already known by the server.

What you're proposing basically bypasses this mechanism, so I'm not sure I understand what is the value.

[2022-01-05 08:38] #715 closed

[2022-01-05 10:53] zanettin commented on #759
The security aspect is one thing, yes. The others are sending less data over the wire (on the request) as well as make it easier or even possible to cache it on a CDN. Another thing is that with regularly persisted query (on build time) the client has to load the map as well to get the ID needed for the request. This slows down the client load time and increase the bundle size.

So regarding your

[2022-01-06 15:52] simoneb commented on #759
Sounds good. As a follow-up to this issue we should consider supporting this protocol in mercurius as well.

[2022-01-10 12:21] nuragic commented on #68
We still have this console errors when running unit tests: `Warning: An update to TestComponent inside a test was not wrapped in act(...).`

I've also found that in #604 @salmanm talk about this warnings and suggest that the proposed solution would avoid them.

[2022-01-11 12:39] nuragic commented on #759
Hi @zanettin, thanks for the proposal and for your initial analysis!

Regarding other server implementations supporting persisted queries:

- **mercurius** has support for both build time and run time (AKA _automatic_), and it's basically matching the Apollo Server implementation
- **Relay** also has support but it adopts a different "protocol" let say, e.g. it uses md5 instead of sha256 for hashi

[2022-01-11 13:48] nuragic commented on #759
I started a public discussion on the repo about adding middleware support: https://github.com/nearform/graphql-hooks/discussions/761

[2022-01-15 08:38] github-actions[bot] opened #764 "Release pending!"
### Pending commits since release [typescript-example@2.3.1](https://github.com/nearform/graphql-hooks/releases/tag/typescript-example%402.3.1)

Unreleased commits have been found which are pending release, please publish the changes.

  * [73e33fa](https://github.com/nearform/graphql-hooks/commit/73e33fa135f3a9d46dfe1397d2347557d870a340) chore: bump eslint and babel versions (#776)
  * [7e6d142](

[2022-01-18 08:57] nuragic opened #766 "Queries and Mutations via WebSocket"
I'm adding support for this feature in `mercurius`: https://github.com/mercurius-js/mercurius/pull/705

Once it lands I think we should add the same support in `graphql-hooks`.

The API will not be changed, in fact this one should just work:

[code]

Now it doesn't, the client throws `'GraphQLClient: config.fetch must be a function'`.

After that, the hooks will be used as usual, no changes.

At f

[2022-01-18 17:06] nuragic opened #768 "Manually update the cache after a mutation or a subscription"
I'm not sure if such thing is possible right now. There's nothing on the docs about it.

I found this issue, on where an `updateCache`  method is proposed, but seems it has not been implemented.

https://github.com/nearform/graphql-hooks/issues/52

[2022-01-19 11:18] nuragic opened #769 "Add middleware support"
### Discussed in https://github.com/nearform/graphql-hooks/discussions/761

This feature is needed to add features like Automatic Persisted Queries (#759), or for any other advanced usage.

In apollo they enable such use cases with _links_:

https://www.apollographql.com/docs/react/api/link/introduction/
https://github.com/apollographql/apollo-client/tree/main/src/link

There's also an interesting

[2022-01-19 11:30] nuragic commented on #759
Once middleware support will ship, this feature can be worked out, i.e. blocked by #769.

[2022-01-19 15:10] simoneb commented on #768
If I understand what you mean this was done in https://github.com/nearform/graphql-hooks/pull/686. If so, please close this issue.

[2022-01-19 16:44] simoneb commented on #768
As you can see in the source code this is not supported right now.

[2022-01-19 16:46] simoneb commented on #768
All the options were discussed in https://github.com/nearform/graphql-hooks/issues/52 and we decided to implement one of them in #686. They obtain similar results but in different ways.

[2022-01-20 14:38] csorfab opened #772 "The typing of FetchData is incorrect with regards to its return type"
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: 5.5.1

### Description

useClientRequest's fetchData function returns an empty (undefined) promise when the hook is unmounted, but this case is not reflected in the typing. This also affects the fetcher functions returned by useMutation and useManualQuery.

### How to reproduce

The behavior is evident in useClientRequest.js

[2022-01-28 09:34] strivelen opened #778 "Error: Uncaught [TypeError: Cannot read properties of undefined (reading 'useGETForQueries')]"
I tried to test the page with Jest, but I had this problem.
![image](https://user-images.githubusercontent.com/79461399/151522518-55f2ad60-4403-4b49-bf20-72dabd761649.png)
![image](https://user-images.githubusercontent.com/79461399/151522673-7ce2db8f-002b-415c-b308-e62537c0b475.png)

[2022-01-31 12:36] tiagoheliob commented on #778
@big-silly thanks for raising the issue, could you please set up an example repo?

[2022-02-02 22:44] #772 closed

[2022-02-03 08:36] #764 closed

[2022-02-10 15:26] #766 closed

[2022-02-22 11:52] radomird commented on #778
@big-silly Do you still have this issue? If yes, could you provide and example on how are you trying to use the graphql-hooks ? Thanks!

[2022-02-24 08:36] github-actions[bot] opened #783 "Release pending!"
### Pending commits since release [typescript-example@2.5.0](https://github.com/nearform/graphql-hooks/releases/tag/typescript-example%402.5.0)

Unreleased commits have been found which are pending release, please publish the changes.

  * [d657ac9](https://github.com/nearform/graphql-hooks/commit/d657ac901a0d6bf68fbcc19ae7e55e7f5ba04890) chore(deps): Bump actions/setup-node from 2 to 3 (#785)
  *

[2022-03-03 08:36] #68 closed

[2022-03-11 00:46] gdorsi commented on #768
We can currently handle this kind of scenarios using the `mutationsEmitter`:

[code]

We could build an hook on top of `mutationsEmitter` to simplify it's usage (something like `useMutationListener`)

With it we can do pretty much everything related to the cache management (I'm using it for invalidating without refetching)

[2022-03-11 08:37] #783 closed

[2022-03-11 09:50] gdorsi commented on #768
I was thinking about this kind of API:

[code]

the impact for the codebase would be small and with proper documentation I think this API could be pretty usable.

[2022-03-11 15:22] nuragic commented on #768
Uhm so it's like an inversion of control actually, I mean, usually you have:

useMutation + updateCache

But you're proposing:

useQuery + useMutationListener

After thinking about it... I think it's not gonna work.

The cache update must happen right after the mutation completes. The mutation is always fired from the actual running code, usually from a user action... even if the query correspondi

[2022-03-11 16:40] gdorsi commented on #768
The key is generated taking the variables in account so in that case would be hard to update the cache correctly (you need to know in what page is located your resource)

Tweaking the cache is good when the the use case is simple (no variables or to do invalidation), not when things start to become complex.

In that case is better to switch to a state manager IMHO.

Anyway if we take as example an

[2022-03-17 10:03] #769 closed

[2022-03-17 11:26] gdorsi commented on #768
I've never used them, but until you can hook into some events I think is doable.

[2022-03-17 16:05] castarco commented on #768
Hi there :) , there are some bits from the last proposal from @gdorsi that I'm missing. I'm fairly new to React, and right now I fail to see how `handleUserCreation` would be used as I don't see any reference to it after its instantiation, nor any other reference in the prior examples (in case this was a shortened version and the redundant aspects were already omitted).

[2022-03-18 12:24] gdorsi commented on #768
@castraco I've updated the example with the missing parts (I've also realized that I was missing the `createUser` call XD)

@nuragic Thanks for the examples, very helpful! It should be pretty similar to the react-query implementation, I will open a PR to check if it really works with `useSubscription`

[2022-03-18 12:36] simoneb commented on #768
@gdorsi I asked @liana-pigeot to look into this, are you actually working on it?

[2022-03-18 12:49] gdorsi commented on #768
Ok thanks!

Nope

[2022-03-18 17:53] gdorsi opened #795 "Add Typescript types for `middleware`"
### Description

The typescript types for the new `middleware` feature are missing.

Would be nice to have them.

[2022-03-18 18:01] gdorsi opened #796 "Migrate the codebase to typescript"
### Description

When adding/changing features is easy to forgot to update the typescript types. (see https://github.com/nearform/graphql-hooks/issues/795)

I think migrating to Typescript would make it easier to contribute to the project because the types would no longer be separated from the source code.

[2022-03-22 20:38] dcorb commented on #219
Check the official Next.js example for an official implementation of the pattern:  https://github.com/vercel/next.js/blob/canary/examples/with-graphql-hooks/lib/graphql-client.js

[2022-03-25 08:41] github-actions[bot] opened #800 "Release pending!"
### Pending commits since release [typescript-example@2.5.1](https://github.com/nearform/graphql-hooks/releases/tag/typescript-example%402.5.1)

Unreleased commits have been found which are pending release, please publish the changes.

  * [52f3fa0](https://github.com/nearform/graphql-hooks/commit/52f3fa02e16b6446b8f5163afb2fc3de643ba484) chore(deps): Bump actions/cache from 2 to 3 (#798)
  * [4e0

[2022-03-25 16:08] #746 closed

[2022-03-25 16:55] liana-pigeot commented on #795
Probably partially fixed by #799 , I've added some basic types for the middleware in there.

If we want better types (I don't know the details of the middleware enough for that) it would probably be better to add them after the TypeScript conversion is merged, since it makes typing things a lot easier

[2022-03-25 16:56] liana-pigeot commented on #735
I had this issue too earlier. It probably has something to do with Lerna because it works fine if I run `npm install` inside the `typescript` folder directly. It also works on CI. So it seems to be specifically the lerna bootstrap doing something wrong

[2022-03-26 08:36] #800 closed

[2022-03-28 07:19] gdorsi commented on #735
To make the CI pass we have pinned the node version https://github.com/nearform/graphql-hooks/pull/736/files

[2022-03-29 15:13] radomird opened #801 "Add Notify Twitter workflow"
Add Notify Twitter workflow that will push a tweet to [@NearFormOSS](https://twitter.com/NearFormOSS) upon successful release.

[2022-03-30 11:15] #801 closed

[2022-03-30 15:24] radomird opened #803 "Unchanged files with check annotations shows a warning in `useClientRequest.js` on line 65"
### Package

`graphql-hooks`

### Description

When reviewing a PR in the `Files changed` tab the `Unchanged files with check annotations` will show an error in the `useClientRequest.js` file (see attached screenshot).
![Screenshot 2022-03-30 at 13 14 38](https://user-images.githubusercontent.com/90759187/160871697-f8a9dfb7-ed7e-4bc0-be83-91ebdccb724c.png)

[2022-04-07 08:42] github-actions[bot] opened #805 "Release pending!"
### Pending commits since release [typescript-example@2.7.0](https://github.com/nearform/graphql-hooks/releases/tag/typescript-example%402.7.0)

Unreleased commits have been found which are pending release, please publish the changes.

  * [4cb3dc0](https://github.com/nearform/graphql-hooks/commit/4cb3dc0ac329b10dca017ff9bf722e7f701285e6) chore: include react 18 as a supported peerDependency (#812

[2022-04-13 09:53] simoneb commented on #778
Closing as stale

[2022-04-13 09:53] #778 closed

[2022-04-14 15:18] wilkmaia commented on #735
@gdorsi can you confirm whether this issue is still happening?

In the current [`master`](https://github.com/nearform/graphql-hooks/tree/4cb3dc0) I'm able to install all deps and build the project, including `typescript-example`.

[code]

Or is this not what's this issue is about?

node version: `v16.14.2`
npm version: `8.5.0`

[2022-04-14 16:28] simoneb commented on #735
@wilkmaia check the linked PR. if triggering a build on that branch (e.g. after updating it with master) still fails, then the problem is still there

[2022-04-14 19:14] wilkmaia commented on #735
Not really sure what happened but it was likely something cached on my local setup (it'd be good to figure out what lol).

After cleaning things up (`npm run clean`) I've got the build errors in both `master` and the PR branch.

[2022-04-14 23:16] simoneb commented on #735
@wilkmaia I'm aware that this repo is very brittle when it comes to dependencies, we've come across that several times. To this day updating some dependencies causes build errors which are hard to troubleshoot and whose simple solution is to just rollback the dependency version. Unfortunately it's a mix of several factors, among which the use of lerna, which has a hoisting behavior which is hard t

[2022-04-15 10:13] #759 closed

[2022-04-15 11:35] simoneb opened #819 "Is APQ working?"
### Package

`graphql-hooks`

### Description

We recently release support for APQ and during the publishing of the package several warnings were generated:

[code]

We should try whether using this middleware from an app actually works.

[2022-04-16 08:37] #805 closed

[2022-04-20 14:44] #796 closed

[2022-04-21 11:39] ianlovell-nearform opened #821 ""TypeError: Failed to execute 'fetch' on 'Window': Illegal invocation error"
"TypeError: Failed to execute 'fetch' on 'Window': Illegal invocation error in v5.11.0

**Steps to Reproduce**

- Run `create-react-app` example (`npm run start`)
- Navigate to `http://localhost:3000`

**Expected Result**

- Posts are returned from GraphQL query

**Actual Result**

Error with GraphQL query:

    at GraphQLClient.requestViaHttp (http://localhost:3000/static/js/main.chunk.js:631:19)

[2022-04-21 11:51] #821 closed

[2022-04-21 16:38] ianlovell-nearform opened #824 "Convert tests to TypeScript"
Convert any unit/integration tests over to TypeScript

[2022-04-21 23:55] simoneb commented on #819
@ianlovell-nearform can you please take a look at this since you're already working on this package? Thanks

[2022-04-25 08:49] #795 closed

[2022-04-25 09:05] rp4rk opened #827 "Remove Lerna Dependency"
The usage of Lerna in the repository has lead to some difficult/unstable dependency issues that have become problematic to resolve (See: https://github.com/nearform/graphql-hooks/issues/735). We would like to change the repository to no longer rely on Lerna.

[2022-04-26 10:22] simoneb opened #832 "Undo workaround for formdata-node export issue"
### Description

In https://github.com/nearform/graphql-hooks/pull/760/files#diff-ac30df9c379259c8407e252c5de7ae4de97119f9d903450d1c5454c3810cead8R8 we introduced a workaround for https://github.com/octet-stream/form-data/issues/50.

Now that the issue seems to be solved by upgrading jest, we should try to remove the workaround by upgrading jest (which is broken btw https://github.com/nearform/gra

[2022-04-27 10:15] ianlovell-nearform commented on #819
I have tried importing the middleware on a new CRA typescript project, seeing a couple of issues - missing TypeScript typings (as they are output to `lib/types/middlewares`, and expected to be at `lib/middlewares`, also seeing a can't resolve `buffer` and `crypto` error when running on Webpack 5, as it is not including polyfills. These dependencies come from dependencies of `@aws-crypto/sha256-uni

[2022-04-27 11:57] simoneb commented on #819
Good analysis, let's fix this.

[2022-04-28 08:56] ekynoxe opened #838 "Typescript definitions for useQuery, useSubscription, useClientRequest aren't exported properly"
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: 5.11.1

### Description

The exported types for `useQuery`, `useSubscription`, `useClientRequest` all use `any` as parameter types, and the corresponding "declared function" in `packages/graphql-hooks/src/types/common-types.ts` aren't used.

For example, `useQuery` is exported as

[code]

instead of

[code]

### How to repro

[2022-04-29 08:44] github-actions[bot] opened #841 "Release pending!"
### Pending commits since release [typescript-example@2.9.1](https://github.com/nearform/graphql-hooks/releases/tag/typescript-example%402.9.1)

Unreleased commits have been found which are pending release, please publish the changes.

  * [a3890ce](https://github.com/nearform/graphql-hooks/commit/a3890ced4aa06c43512d887db6068e83d961da07) test: convert tests to TypeScript (#828)
  * [d2aebf1](http

[2022-04-29 10:38] #838 closed

[2022-04-30 08:37] #841 closed

[2022-05-03 08:30] rp4rk commented on #803
This should be addressed here:
https://github.com/nearform/graphql-hooks/commit/ea4141752ac0742d17ea3b26ca930131a0b3b30f#diff-03ad0abc45e8ae8d04cc50bdeeda7da711fad3ea8f77fa465ab8c93190111d69R65

[2022-05-03 09:19] ianlovell-nearform opened #847 "Add APQ example"
- Add an example showing the APQ middleware running against an API

[2022-05-03 14:08] #819 closed

[2022-05-03 16:14] ianlovell-nearform opened #849 "Review APQ middleware with Mercurius"
Review the use of the APQ middleware with a Mercurius server configured with persisted queries. In particular, testing that the shape of the error response for a missing persisted query is handled correctly by the middleware (sending both query and hash).

Apollo Server response:

[code]

Mercurius response:

[code]

[2022-05-04 10:40] #847 closed

[2022-05-04 11:33] #735 closed

[2022-05-04 16:07] rp4rk commented on #827
I put some work towards this, but there are a few caveats that make it a little more complex than anticipated, mainly revolving around the fact there's a mix of technologies and the projects can't be scaffolded out with nx tooling, resulting in a lot of brittle configuration.

Here's a few things to look out for if anyone were to pick up the work in the future,
* This project already has a base `t

[2022-05-05 15:42] #849 closed

[2022-05-06 14:53] radomird opened #853 "chore: remove `notify-twitter` workflow"
### Package

- [x] `graphql-hooks`
- [x] `graphql-hooks-ssr`
- [x] `graphql-hooks-memcache`

### Description

Remove the `notify-twitter` workflow as it has been replaced with Organization wide GH App

[2022-05-06 16:19] #853 closed

[2022-05-10 14:35] #832 closed

[2022-05-14 08:38] github-actions[bot] opened #859 "Release pending!"
### Pending commits since release [typescript-example@2.9.3](https://github.com/nearform/graphql-hooks/releases/tag/typescript-example%402.9.3)

Unreleased commits have been found which are pending release, please publish the changes.

  * [2ae1229](https://github.com/nearform/graphql-hooks/commit/2ae122982ec184ea3adbe37a74db1c3b2dfb6330) chore: revert the node version pinning on the ci workflow (

[2022-05-24 15:45] hizo opened #860 "Loading always on when skip: true is passed"
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: 5.11.3
- `react` version: 17.0.2
- Browser: Chrome 101.0.4951.64

### Description

The `loading` property of `useQuery` result is `true` with `skip: true` option passed.

### How to reproduce

https://codesandbox.io/s/trusting-margulis-8k81fi?file=/src/App.js

### Suggested solution (optional)

[This](https://github.com/near

[2022-05-25 07:46] #860 closed

[2022-05-25 08:39] #859 closed

[2022-06-10 10:01] altsel opened #864 "Header information missing after page refresh"
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: 5.11.4
- `react` version: 18.1.0
- `next`version: 12.1.6
- Browser: google chrome

### Description

I don't think this is a bug. More or less a misconfiguration from my side.
When refreshing my browser tab I am not able to query protected content again.
It seems that the clientContext provider looses information about my bea

[2022-06-10 10:22] matt-clarson commented on #864
@altsel how are you handling the login / where are you storing the bearer token?

[2022-06-10 10:28] altsel commented on #864
this is my signIn fn provided by next-auth.

`await signIn("credentials", {redirect: false, email: email, password: password}).then((response) => {

      const promise = new Promise((resolve, reject) => {
        resolve(sessionInfo());
      })

      if(response.ok){

        promise.then((value) => {
          client.setHeader('Authorization', `Bearer ${value.jwt}`)
        }).then(() => {

[2022-06-10 10:39] matt-clarson commented on #864
if you're using `next-auth` to manage getting a token and just passing that as a header to the `graphql-hooks` client, then it looks like what you're describing is a problem with how you're using `next-auth` which should provide some way of persisting the auth token across sessions

[2022-06-10 10:39] #864 closed

[2022-06-10 12:57] simoneb commented on #864
@altsel to add to the feedback already provided by @matt-clarson, basically this library has no persistence mechanism, so you need to make sure that whenever you application is reinitialized (e.g. the page is refreshed), the auth information is retrieved again from whatever persistent mechanism you're storing it in and that the headers are set again on the GraphQLClient

[2022-06-10 15:16] altsel commented on #864
thanks for your help @matt-clarson @simoneb
I read the docs of next-auth and found the session callback where I could init graphql-hooks header information.
Unfortunately this takes place on the server side of nextjs, so I cant call any hook there.

Is there another way to add header information? Do you can think of any way to do this on the server side? Any tip?

Thanks for your help

[2022-06-10 15:33] matt-clarson commented on #864
looking at [this guide in the next-auth docs](https://next-auth.js.org/tutorials/securing-pages-and-api-routes) it looks like you can use the `useSession` hook or pass `session` prop to `_app.js` to get the auth info in the client, where you can pass whatever you need to the graphql client - hope that helps

[2022-06-10 15:43] altsel commented on #864
this is my _app.js. Session info is available but I have absolutely no idea how to set the header from here. Sorry most of this is all new to me ;)

[code]

[2022-06-24 19:13] Twipped opened #865 "Client side schema / local fields"
### Description

I tried to see if there is anything in the docs about this, but didn't find it. Apollo has functionality for defining local only state via [schema extensions](https://www.apollographql.com/docs/react/local-state/client-side-schema/) and [local only fields](https://www.apollographql.com/docs/react/local-state/managing-state-with-field-policies). Is this kind of functionality availa

[2022-06-25 11:45] simoneb commented on #865
Thanks for bringing this up. This library's purpose is to communicate with a GraphQL backend. While it's an interesting feature, the ability to query local data is beyond the original intent of this library. Over time we have added features but this sounds like something that goes beyond what a graphql client library should do.

You may want to check out if other JS clients have this feature: http

[2022-06-28 14:37] d4rky-pl opened #867 "Allow extending isExtractableFile passed to extract-files"
### Description

Currently when calling `extractFiles`, a custom implementation `isExtractableFileEnhanced` is called. This implementation adds support for formdata-node and streams and it is currently not possible to extend or modify it.

### Suggested implementation

Allow passing function function for isExtractableFile (could be called instead or in tandem to the current one) to allow different

[2022-06-28 15:03] d4rky-pl commented on #867
Sorry, I only now realized that all of this was implemented in `extract-files` 12 and this library depends on `extract-files` 11. As such, until the dependency is upgraded this is a non-issue as we can import this directly:

[code]

I'm going to close the issue and leaving the above solution if someone runs into the same problem when migrating away from Apollo :)

[2022-06-28 15:03] #867 closed

[2022-06-28 15:44] simoneb opened #868 "Acceptance tests failing on master"
See the broken build

[2022-06-28 15:52] simoneb commented on #867
@d4rky-pl is there anything we can do to make it easier?

[2022-06-28 19:42] Mazuh commented on #868
Taking a look.

[2022-06-29 17:46] SRHerzog commented on #803
Confirmed that this was resolved by the commit noted above.

[2022-06-29 17:46] #803 closed

[2022-07-06 08:39] github-actions[bot] opened #875 "Release pending!"
### Pending commits since release [typescript-example@2.9.4](https://github.com/nearform/graphql-hooks/releases/tag/typescript-example%402.9.4)

Unreleased commits have been found which are pending release, please publish the changes.

  * [96ed1bd](https://github.com/nearform/graphql-hooks/commit/96ed1bd892a04edde74db941dfd74b4c5a58c6eb) chore: update husky hooks (#929)
  * [d49c162](https://gith

[2022-07-14 17:28] nordhagen opened #879 "Upgrade to extract-files 12.0.0"
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: 5.11.4

### Description

Package version depends on extract-files@^11.0.0 which doesn't support Node 14.7.0 as indicated by the following install warning:

[code]

The most recent version of [extract-files](https://www.npmjs.com/package/extract-files) at the time of writing is 12.0.0. This version is listed with the followin

[2022-07-15 09:56] simoneb commented on #879
I'm not sure I understand the issue. Neither of version 11 or 12 support Node 14.7.0 if that's your requirement

[2022-07-27 12:47] simoneb commented on #879
Closing for lack of activity

[2022-07-27 12:47] #879 closed

[2022-08-13 13:10] Jeric-Disney opened #893 "Argument of type 'Context<GraphQLClient | null>' is not assignable to parameter of type '"
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: 5.11.4
- `react` version: 18.2
- Browser: chrome

### Description

using useContext to get the client

### How to reproduce

[code]

[2022-08-19 16:13] simoneb commented on #893
Can you clarify what issue you're having? The types are defined [here](https://github.com/nearform/graphql-hooks/blob/master/packages/graphql-hooks/src/ClientContext.ts) and they look correct to me.

[2022-09-02 02:17] #865 closed

[2022-09-16 11:43] radomird opened #920 "All the test suites are failing"
### Package

`graphql-hooks`
`graphql-hooks-ssr`
`graphql-hooks-memcache`

### Description

When running `npm run test`, from the root of the project, all the unit test fail with a similar message (these are just a few examples):
[code]
### How to reproduce

Run `npm run test`.

### Suggested solution (optional)

Most likely the reason for the failures is a misconfiguration/or missing some config.

[2022-09-16 12:32] simoneb commented on #920
it doesn't seem to be the case to me. if you go to the repo root you'll see that the last commit on master has a green checkmark

[2022-09-16 15:21] radomird commented on #920
Yeah I saw that, but I can consistently reproduce it locally on `master` branch. I'm looking into it.

[2022-09-16 16:28] simoneb commented on #920
if it succeeds in CI the most sensible assumption is that your local environment has problems, e.g. node version or other such things which deviate from how CI is configured

[2022-09-17 02:17] #827 closed

[2022-09-19 07:58] radomird opened #922 "[chore] Remove `tsd` library and type tests"
### Description

Removes the tsd library and all the type tests from the graphql-hooks package. Reason for removing is that hte whole library was re-written to use Typescript and the check-types script will check all the types, so running tsd became obsoloete (see the following https://github.com/nearform/graphql-hooks/pull/799 and https://github.com/nearform/graphql-hooks/pull/799#discussion_r833

[2022-09-19 08:04] radomird commented on #920
Well the thing is it fails in the CI as well (see the latest [PR build](https://github.com/nearform/graphql-hooks/actions/runs/3080743477/jobs/4978455546)). The issue is that Cypress global TypeScript type conflicts with Jest `expect` (see https://github.com/cypress-io/cypress/issues/22059).

[2022-09-19 08:09] simoneb commented on #920
I still don't quite understand why the build is green on master though

[2022-09-20 18:40] mahenrique94 commented on #768
Hi folks, how are you? I just arrived at this issue and as homework already read the following related issues:

- https://github.com/nearform/graphql-hooks/issues/52
- https://github.com/nearform/graphql-hooks/issues/74
- https://github.com/nearform/graphql-hooks/pull/686

I'd like to make a new proposal to resolve all necessities (please, let me know if makes sense for you):

The first one will r

[2022-09-22 08:20] #920 closed

[2022-09-23 14:13] #768 closed

[2022-09-27 08:45] #875 closed

[2022-09-27 09:51] gdorsi commented on #768
Thanks for handling this! @mahenrique94

Sorry that I didn't answer in time, but your solution seems to be pretty solid :+1:

[2022-09-30 14:07] helderdb commented on #893
I think I'm having the same issue. It started on version 5.1.0

The problem is that instead of wrapping the app with <ClientContext.Provider>...</ClientContext.Provider>, we're using
[code]

This breaks the hooks plugin, and the context isn't defined anymore.

[2022-09-30 14:20] simoneb commented on #893
@helderdb thanks for clarifying. Would you be interested in sending a PR to address this?

[2022-10-05 00:26] Twipped opened #930 "setQueryData cannot receive variables or operationName."
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: 6.0.0

### Description

The new `setQueryData` function released in 6.0.0 only accepts a query string for targeting query data. That means you cannot update query results if an operationName or any variables are provided for the query.

See line https://github.com/nearform/graphql-hooks/blob/master/packages/graphql-hooks/src

[2022-10-05 11:29] lasmil commented on #930
I am checking this.

[2022-10-05 15:52] simoneb commented on #930
@Twipped can you check if the linked pull request addresses your request?

[2022-10-05 15:59] Twipped commented on #930
Spot on, thank you!

[2022-10-05 16:08] #930 closed

[2022-10-06 10:13] helderdb commented on #893
@simoneb @Jeric-Disney Found the issue! We were instantiating the hooks plugin through a custom module. Since we were developing and referencing the module through a file resolver in our projects package.json, the module also had it's own node_modules folder. It then referenced that specific version of graphql-hooks in the module, while our project was using graphql-hooks from a level above in the

[2022-10-06 10:25] simoneb commented on #893
Thanks for the follow-up @helderdb . Feel free to close this issue then

[2022-10-11 00:04] daniel-nagy opened #934 "[Bug] Parameter Type for `onSuccess` Callback Function"
The type does not match the value. I'm getting an object with a `data` entry.

https://github.com/nearform/graphql-hooks/blob/91cfe6c106df3b3b49c827b7f4f1435b46dc74a8/packages/graphql-hooks/src/types/common-types.ts#L178

[2022-10-11 01:01] daniel-nagy opened #935 "The `onSuccess` Callback is Called if There Are Errors"
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: 6.0.1

- `graphql-hooks-memcache` version: 3.0.0
- `react` version: 18.1.0
- Browser: n/a

### Description

I'm using the new `onSuccess` option and it is being called when the response contains errors. https://github.com/nearform/graphql-hooks/blob/91cfe6c106df3b3b49c827b7f4f1435b46dc74a8/packages/graphql-hooks/src/useClien

[2022-10-11 01:37] daniel-nagy opened #936 "Event Listener Memory Leak"
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: 6.0.1

- `graphql-hooks-memcache` version: 3.0.0
- `react` version: 18.1.0
- Browser: Brave

### Description

Fast refresh is causing `MaxListenersExceededWarning` from the **events** dependency.

[code]

### How to reproduce

I'm using ViteJS `v3.1.6` and the @vitejs/plugin-react `v2.1.0`. The plugin uses React Fast Refresh

[2022-10-11 09:16] ilteoood commented on #936
Hi @daniel-nagy,
can you provide a reproduction example?
Even on stackblitz is fine.

[2022-10-11 09:32] ilteoood commented on #934
@daniel-nagy
I've fixed the type in the attached PR.
Let me know what you about it.

[2022-10-11 13:05] #934 closed

[2022-10-11 13:07] daniel-nagy commented on #936
@ilteoood I think I see the problem

https://github.com/nearform/graphql-hooks/blob/faa77690485bb3e646e45abb1f621984cbda0d36/packages/graphql-hooks/src/useClientRequest.ts#L292-L305

These even listeners will not be removed because a new anonymous function is being passed to `off`. A ref to the function passed to `on` needs to be passed to `off` for it to be removed correctly.

[2022-10-11 13:49] #936 closed

[2022-10-11 15:55] #893 closed

[2022-10-17 13:43] Styopchik opened #944 "Dependency issue"
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: 6.0.3
- `react` version: 18.2.0
- Browser: cli

### Description

on build attempt i receive message:
- `Cannot find module 'graphql-ws' or its corresponding type declarations.`
- `Cannot find module 'subscriptions-transport-ws' or its corresponding type declarations.`

fater i add theese dependencies, i receive next error

`

[2022-10-17 13:51] simoneb commented on #944
can you put together a repro?

[2022-10-17 13:52] Styopchik commented on #944
what do you mean? Sorry

[2022-10-17 15:09] Styopchik commented on #944
sorry, i've found an error

[2022-10-19 08:46] github-actions[bot] opened #946 "Release pending!"
### Pending commits since release [typescript-example@3.0.3](https://github.com/nearform/graphql-hooks/releases/tag/typescript-example%403.0.3)

Unreleased commits have been found which are pending release, please publish the changes.

  * [4a6f6bc](https://github.com/nearform/graphql-hooks/commit/4a6f6bc297e94611cb266fbb51602fd28636c61f) chore: release trigger added to notify-release workflow (#9

[2022-10-26 21:15] edreeseg opened #949 "useManualQuery queryFn drilled to child component and invoked on mount does not toggle loading boolean"
### Package

`graphql-hooks`

### Environment

- `graphql-hooks` version: 5.11.4
- `Node` version: 14.20.0
- `react` version: 18.2.0
- Browser: Chrome/Firefox

### Description

If using `useManualQuery`, I've found that when the queryFn is drilled to a child component as a prop, the loading state on the query is not toggled properly, even though the data is retrieved. I believe this might be due t

[2022-11-02 14:52] andreaforni commented on #949
Hi,  I've published a PR that fixes this issue. I want to provide more context here about what I've found.

First of all, thank you @edreeseg for the detailed description and the example; it was very useful in debugging the problem :)

Let’s reuse the same example provided by @edreeseg;  we have two components, the `Parent` and the `Child`.

In the parent, we use the `useManualQuery` hook, and we

[2022-11-02 15:43] simoneb commented on #949
@andreaforni thanks for the detailed explanation and for coming up with a fix. I wonder, is there a chance that this change you introduced, while addressing this scenario, introduces other edge cases which are not covered by tests?

As a sanity check, and because I assume that this is a fairly common issue that similar libraries have to deal with, it would be good to check if the behavior or other

[2022-11-02 15:57] edreeseg commented on #949
@andreaforni I'd like to thank you as well for the detailed response. Your explanation makes sense, and maps with what I'm seeing as well. I agree with what Simone mentioned in this, of course - if the fix has unexpected consequences that will end up causing problems, then it makes sense to find an alternative fix or workaround for this specific case.

Have a great rest of your week, thanks all!

[2022-11-03 19:26] jcan1995 opened #955 "How to test useQuery hook errors"
### Package

- [x] `graphql-hooks`
- [ ] `graphql-hooks-ssr`
- [ ] `graphql-hooks-memcache`

### Environment

- `graphql-hooks` version: 6.0.1

- `react` version:
   - `preact` version: 10.11.0
- Browser: Chrome

### Description

This isn't necessarily an issue but more of a question.
What would be the preferred method of testing error responses from the useQuery hook in a React component? I see t

[2022-11-04 14:02] andreaforni commented on #949
Hi @edreeseg, I'm still working on this issue; in the meantime, we found a temporary workaround. If you use `useLayoutEffect` instead of `useEffect` in the `Child` component, you get the correct loading values:

[code]

[2022-11-07 15:29] #949 closed

[2022-11-07 17:14] #946 closed

[2022-11-08 15:08] andreaforni opened #959 "Building error using Node 18 (digital envelope routines::unsupported)"
### Package

`graphql-hooks`
`graphql-hooks-memcache`

### Environment

- `graphql-hooks` version: *latest on master*
- `graphql-hooks-memcache` version: *latest on master*
-  Node version: *18*

### Description

Using Node **18** to build the library, I get the following error:
[code]

### How to reproduce

- Checkout `master`
- `nvm use 18`
- `npm run build`

### Suggested solution (optional)

S

[2022-11-08 17:00] andreaforni opened #960 "Remove --openssl-legacy-provider node option when Webpack updates the crypto algorithm"
### Package

- [X] `graphql-hooks`
- [ ] `graphql-hooks-ssr`
- [X] `graphql-hooks-memcache`

### Environment

- `graphql-hooks` version: *latest from master*
- `graphql-hooks-memcache` version: *latest from master*
- `node` version: *18*

### Description

To fix issue #959 we set the node option `--openssl-legacy-provider` when running rollup (please check #958).
This is a workaround while we wait

[2022-11-08 17:06] #959 closed

[2022-11-11 08:41] andreaforni opened #967 "chore: move from Rollup@2 to Vite"
### Package

- [X] `graphql-hooks`
- [X] `graphql-hooks-ssr`
- [X] `graphql-hooks-memcache`

### Environment

- `graphql-hooks` version: _latest master_
- `graphql-hooks-ssr` version: _latest master_
- `graphql-hooks-memcache` version: _latest master_

### Description

This project uses an old version of Rollup (still `2.X`). Upgrading to version `3.X` is not straightforward; for example, some of

[2022-11-11 10:39] #967 closed

[2022-11-11 17:17] andreaforni commented on #955
Hi @jcan1995,
I've created this example for you on CodeSandbox: https://codesandbox.io/s/graphql-hooks-test-with-localgraphqlerror-1267vo?file=/src/ListOfCharacters.test.js

In the example, the `ListOfCharacters` component calls `useQuery` to get some data from the GraphQL endpoint and displays them. The component also displays the following:
-  "`Loading...`" text if the data is still loading or

[2022-11-14 15:48] #955 closed

[2022-11-16 08:39] github-actions[bot] opened #970 "Release pending!"
### Pending commits since release [persisted-queries-client@2.0.4](https://github.com/nearform/graphql-hooks/releases/tag/persisted-queries-client%402.0.4)

Unreleased commits have been found which are pending release, please publish the changes.

  * [c878d2f](https://github.com/nearform/graphql-hooks/commit/c878d2fd1fa65b4417cad6cf32ad4f48582cbac8) docs: update the README to better describe how

[2022-11-16 10:18] #970 closed